mixin courseDates(course, variant = '1-column')
  - const tag = attributes.tag || 'div'
  #{tag}.-course-dates(class=`-course-dates--${variant}`)&attributes(attributes)
    .-course-dates__headers
      case variant
        when '1-column'
          p.t2d.r5.aic Код
            svg.i20.x2i16
              use(xlink:href='img/sprite/symbols.svg#info')
        
        when '2-columns'
          p.t2d Дата
          p.t2d.r5.aic Код
            svg.i20.x2i16
              use(xlink:href='img/sprite/symbols.svg#info')
        
        when '3-columns'
          p.t2d Дата
          p.t2d.r5.aic Код
            svg.i20.x2i16
              use(xlink:href='img/sprite/symbols.svg#info')
          p.t2d.r5.aic Цена
            svg.i20.x2i16
              use(xlink:href='img/sprite/symbols.svg#info')

    if course.dates && course.dates.length > 0
      case variant
        when '1-column'
          .-course-dates__row
            span !{course.dates[0].code}
        
        when '2-columns'
          each date in course.dates
            .-course-dates__row
              a.-course-dates__date-link !{date.date}
              span !{date.code}
        
        when '3-columns'
          each date in course.dates
            .-course-dates__row
              a.-course-dates__date-link !{date.date}
              p !{date.code}
              p !{course.price} ₽