mixin itemClient(props)
  - const isLink = Boolean(props.href)
  - const ContainerTag = isLink ? 'a' : 'article'
  - const TitleTag = isLink ? 'p' : 'h2'
  
  #{ContainerTag}.client-item&attributes(attributes)(
    href=isLink ? props.href : false
  )
    .client-item__body
      img.w.sqr.cnt(
        class=isLink ? 'dur' : '',
        src=props.img, 
        alt=`${props.name} – ${props.desc || ''}`
      )
      hr.bdg
      .hyp.col7
        #{TitleTag}.ta.p1 !{props.name}
        if props.desc
          p.p1 !{props.desc}