mixin inputWrapper(props = {})
  - 
    const {
      label = '',
      type = 'text',
      inputClass = false,
      name = false,
      value = false,
      placeholder = false,
      required = false,
      fieldType = 'input', // 'input', 'textarea', 'select'
      selectConfig = {},
      wrapperClass = 'col7',
      labelClass = '',
      labelMainClass = 'p2',
      labelAdd = '',
    } = props;

    selectConfig.name = name;
    selectConfig.placeholder = placeholder;
    selectConfig.value = value;
    selectConfig.required = required;
    
  -
    const wrapperTag = fieldType === 'select' ? 'div' : 'label';

  #{wrapperTag}.input-wrapper(class=wrapperClass)&attributes(attributes)
    if label
      p.input-wrapper__label(class=labelClass)
        span.input-wrapper__label-main(class=labelMainClass) !{label}
        if labelAdd
          span.input-wrapper__label-add !{labelAdd}
    case fieldType
      when 'textarea'
        textarea.textarea(
          placeholder=placeholder,
          required=required
        )
      when 'select'
        +select(selectConfig)
      default
        input.input(
          type = type,
          class = inputClass,
          name = name,
          value = value,
          placeholder = placeholder,
          required = required
        )