//- Миксин для подменю
mixin submenuItem(item)
  if item.children
    .submenu__item.submenu__item--has-children
      span.submenu__item-name= item.name
      .submenu__links
        each child in item.children
          a.submenu__link(href="#")= child.name
            svg.submenu__link-svg
              use(xlink:href='img/sprite/symbols.svg#chevron-down')
  else
    a.submenu__item(href="#")(style=item.style ? item.style : false)
      span.submenu__item-name= item.name
      svg.submenu__item-svg
        use(xlink:href='img/sprite/symbols.svg#chevron-down')

//- Миксин для основного меню
mixin menuItem(item)
  if item.subitems
    button.header-menu__dropdown._menu-btn
      .header-menu__item
        span.header-menu__item-name= item.name
        svg.header-menu__item-svg
          use(xlink:href='img/sprite/symbols.svg#chevron-down')
        .header-menu__triangle.triangle
      .header-menu__submenu.submenu._menu-body
        .submenu__items
          each subitem in item.subitems
            +submenuItem(subitem)
  else
    a.header-menu__item(href=item.link)
      span.header-menu__item-name= item.name

//- Данные меню
-
  const menuItems = [
    {
      name: "СЕМИНАРЫ И КУРСЫ",
      subitems: [
        { name: "Семинары и курсы" },
        { name: "Онлайн-обучение" },
        { 
          name: "Дистанционные курсы",
          children: [
            { name: "Профпереподготовка" },
            { name: "Повышение квалификации" }
          ]
        },
        { name: "Корпоративное обучение" }
      ]
    },
    {
      name: "О КОМПАНИИ",
      subitems: [
        { name: "О нас" },
        { name: "Основатель Компании", style:"break-after: column;" },
        { name: "Учебный комплекс" },
        { name: "Аренда аудиторий" },
        { name: "Клиенты" },
        { name: "Благотворительность" },
        { name: "Партнеры" }
      ]
    },
    { name: "АКЦИИ", link: "#" },
    { name: "КОНТАКТЫ", link: "#" }
  ];

//- Основная разметка меню
.header-menu
  .header-menu__items
    each item in menuItems
      +menuItem(item)
  .square
  .square.square--orange
  .header-menu__add

//- scss/css-sections/header.scsss