extends html/layouts/default


block settings
	+pageConfig({
		title: 'ОТЗЫВЫ',
		breadcrumbs: ['Отзывы о семинарах в Санкт-Петербурге']
	})

block content
	- 
		reviewsArchive = [
			{
				name: 'Астафьева Евгения Валерьевна',
				position: 'ведущий инженер АО "ВМЗ"',
				text: 'Всё очень понравилось, спасибо! Узнала для себя много нового, а также в процессе обучения нашла решение нескольких проблем! Благодарю спикеров за интересную подачу материала.',
				date: '10.07.2025'
			},
			{
				name: 'Воробьева Яна Анатольевна',
				position: 'ведущий инженер ЗАО "Ижевский нефтяной научный центр"',
				text: 'Интересно, информативно. Программа составлена грамотно, последовательно, поэтому доступна для восприятия.',
				date: '10.07.2025'
			},
			{
				name: 'Тиранов Леонид Андреевич',
				position: 'ведущий инженер ООО "СамараНИПИнефть"',
				text: 'Мною получены ответы на актуальные вопросы. Лекторы дали большой объем информации, который смогу использовать в работе и продолжить его изучение. Ценную информацию предоставили преподаватели.',
				date: '10.07.2025'
			},
			{
				name: 'Воробьева Яна Анатольевна',
				position: 'ведущий инженер ЗАО "Ижевский нефтяной научный центр"',
				text: 'Интересно, информативно. Программа составлена грамотно, последовательно, поэтому доступна для восприятия.',
				date: '10.07.2025'
			}
		];

	mixin reviewItem(review, last = false)
		.row.x4wrap.g5.w.pd3.pdb(class=last ? '' : 'bbd2l')
			.col7.n1w3.w4.x3w2.x4w4
				p.td.t2 #{review.name}
				p.p2 #{review.position}
			.col7.w.n3ol1
				p.p1.i #{review.text}
				p.ta.p2.tae #{review.date}

	.section
		.container
			.col2.n1o1
				.col7
					p.tb.t2 Курс повышения квалификации 
					h1.td.t1 Перспективные полимерные материалы в промышленности — герметики, компаунды, лакокрасочные покрытия
				.col3
					.row.x3col.g5.aie
						.col5.x3row.x4col.ais.x3jcb.n1w4.n2w5.w4
							p.p1 Посетители наших семинаров оставили 15&nbsp;отзывов
							a.sa-link.link.p1.r5.aic(href="#")
								svg.i24.x2i20
									use(xlink:href='img/sprite/symbols.svg#plan')
								| Оставить отзыв
						.r30.jce.x3jcb.x4wrap.g7.w
							span.p1 Показывать:
							span.ta.p1 Все отзывы
							a.p1.hover(href="#") За последний месяц
							a.p1.hover(href="#") За последний год
					.col3.ais.pd3.pdt.tbd2l
						each review in reviewsArchive
							+reviewItem(review)
				+pagination({
					totalPages: 10,
					currentPage: 2,
				})