-
  hotelGallery = [
    { full: 'http://img.cntiprogress.ru/file/ivksenia/dinastia_1.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/dinastia_1_min.jpg' },
    { full: 'http://img.cntiprogress.ru/file/ivksenia/comf-dyn-1.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/comf-dyn-1_s.jpg' },
    { full: 'http://img.cntiprogress.ru/file/ivksenia/dinastia-3.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/dinastia-3_min.jpg' },
    { full: 'http://img.cntiprogress.ru/file/ivksenia/dinastia_4.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/dinastia_4_min.jpg' }
  ]


mixin hotel(hotel)
  article.hotel-item(id=hotel.slug)
    h2.subtitle !{hotel.name}
    header.row.x4col.aic.jcc.g7.m5
      p.p1 Санкт-Петербург, !{hotel.address}
      a.p1.link-b(href="#hotels") Вернуться к карте
    .r40.wrap.jcc.x2cg30.m4.g7
      .sa.sw2.r15.aic.x2cg10
        svg.i24
          use(xlink:href='img/sprite/symbols.svg#pin')
        p.p1.ta !{hotel.distance} #[br.x3hide]до #[br.n3hide]ЦНТИ&nbsp;Прогресс
      each icon in hotel.features
        .sa.sw2.r15.aic.x2cg10
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#' + icon.icon)
          p.p1.ta !{icon.name}            
    .hotel-item__gallery._gallery
      each image in hotel.gallery || hotelGallery
        a.n3w3.w1.x4w2(href=image.full) 
          img.hotel-item__gallery-img(src=image.thumb alt="")
    .row.wrap.ais.g3.m3
      .col5.n1w6.n2w4.n3w12.x4w4
        each p in hotel.description
          p.p1 !{p}
        p.p1 Регистрационный номер в Федеральном перечне туристских объектов #[a.link(href="#") !{hotel.registrationNumber}]
        if hotel.info
          each p in hotel.info
            p.p1 !{p}
        .sb.sw2.tb.twb.r10.aic
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#info')
          p.p1 Бронируйте онлайн, по почте или по тел. #[a(href="tel:89216503779") 8 (921) 650-37-79].
        if hotel.legalInfo
          p.p1 !{hotel.legalInfo}
        a.button-primary.n3w3.w2.x4w4(href="#") Забронировать отель
      if hotel.price
        table(class="-hotel-item__table-" + hotel.price.head.length)
          thead
            tr
              each th in hotel.price.head
                th
                  if th.title
                    p.td.p1 !{th.title}
                  if th.subtitle
                    p.p2.m7 !{th.subtitle}
          tbody 
            each tr, index in hotel.price.rows
              tr(class=index%2===1 ? "bgs" : "")
                each td, index in tr
                  td.p1 !{td}