mixin hotel(hotel)
  article.hotel-item(id=hotel.slug)
    .row        
      .row.n3w4._gallery
        .col5.n3w1
          each image, i in hotel.images
            if i !== 0
              a(href=image.src) 
                img.hotel-item__gallery-img(src=image.thumb alt="")
        .fg
          a(href=hotel.images[0].src) 
            img.hotel-item__gallery-img(src=hotel.images[0].thumb alt="")
      .n3w8.col.jcb
        .col5
          h2.t1d !{hotel.name}
          .row.ais
            p.p1.n3w3 Санкт-Петербург, !{hotel.address}
            .r5.aic.n3w3
              svg.i24
                use(xlink:href='img/sprite/symbols.svg#train')
              p.p1 Метро
            .fg.r.jce
              a.p1.link-b(href="#hotels") Вернуться к карте
        .row.aie.m7
          .col7.fg
            .r5.aic
              svg.i24
                use(xlink:href='img/sprite/symbols.svg#pin')
              p.p1 !{hotel.distance} до ЦНТИ&nbsp;ПРОГРЕСС
            each icon in hotel.features
              .sa.r5.aic
                svg.i24
                  use(xlink:href='img/sprite/symbols.svg#' + icon.icon)
                p.p1.ta !{icon.name}
          .n3w5
            p.p1= hotel.description
              |  Регистрационный номер в Федеральном перечне туристских объектов #[a.link(href="#") !{hotel.registrationNumber}]
    if hotel.price
      table(class="hotel-item__table-" + hotel.price.head.length)
          thead
            tr
              each th in hotel.price.head
                th
                  .r5.wrap.aic.g7
                    if th.title
                      p.td.p1 !{th.title}
                    if th.subtitle
                      p.p2 !{th.subtitle}
          tbody 
            each tr, index in hotel.price.rows
              tr(class=index%2===0 ? "bgs" : "")
                each td, index in tr
                  td.p1 !{td}
      if hotel.legalInfo || hotel.info        
        .row.wrap.ais
          .sb.tb.twb.r5.aic.n3w4
            svg.i16
              use(xlink:href='img/sprite/symbols.svg#info')
            p.p2 Бронируйте онлайн, по почте или по тел. #[a(href="tel:89216503779") 8 (921) 650-37-79].
          .col7.n3w7
            if hotel.legalInfo
              p.p1 !{hotel.legalInfo}
            if hotel.info
              each p in hotel.info
                p.ta.p1 !{p}
          a.button-primary.n3w4(href="#") Забронировать отель
      else
        .col5
          .sb.tb.twb.r5.aic.n3w4
            svg.i16
              use(xlink:href='img/sprite/symbols.svg#info')
            p.p2 Бронируйте онлайн, по почте или по тел. #[a(href="tel:89216503779") 8 (921) 650-37-79].
          a.button-primary.n3w4(href="#") Забронировать отель


























