-
  letters = [
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/rogneda.png',
        'https://img.cntiprogress.ru/Image/reviews/rogneda-s.png'
      ],
      text: [
        'Группа компаний «Рогнеда» выражает благодарность руководству и эксперту ООО «Регион» за проведённый 02-03 декабря 2024 г. на базе научно- производственного предприятия ООО «НПП Рогнеда» семинар, посвящённый вопросам основных характеристик, подбора и надежной эксплуатации насосного оборудования.',
        'Объем и содержание курса соответствовало ожиданиям участников и позволит в дальнейшем применить полученные знания на практике.',
        'Особенно благодарим за отзывчивость организации и возможность проведения выездного обучения, а также предоставленные раздаточные материалы.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/sbd.png',
        'https://img.cntiprogress.ru/Image/reviews/sbd-s.png'
      ],
      text: [
        'ООО «СБД» выражает благодарность коллективу ООО «Регион» за организацию корпоративного обучения по теме «Управление строительным проектом - планирование, мониторинг, контроль, анализ», благодаря которому в период с мая по август 2024 г. Шесть групп наших сотрудников получили возможность повысить свою квалификацию.',
        'Особенно ценным для нас было проведение обучения для обучающихся, находящихся в другом часовом поясе с разницей +4 ч МСК, что позволило получить новые знания всей целевой аудитории независимо от географии проектов.',
        'Отдельно хочется отметить высокий профессионализм и личную вовлеченность Стариковой Алины и Токаревой Анастасии в оказании полной административной поддержки в организации учебного процесса с нахождением эффективных решений нестандартных ситуаций.',
        'Будем рады продолжить сотрудничество с ООО «Регион»!'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/servoluks.png',
        'https://img.cntiprogress.ru/Image/reviews/servoluks-s.png'
      ],
      text: [
        'СЗАО "Серволюкс" выражает благодарность и признательность ООО "Прогресс Центр" за проведение корпоративного обучения по программе курса повышения квалификации "Технологическая служба. Технологический менеджмент на предприятии" (15-17 апреля 2024г) для наших сотрудников.',
        'Благодарим за организацию процесса, гибкий подход в решении учебных, документационных и организационных вопросов.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/sgmk.png',
        'https://img.cntiprogress.ru/Image/reviews/sgmk-s.jpg'
      ],
      text: [
        'Уважаемый Сергей Степанович!<br />АО «Сибирская горно-металлургическая компания» выражает благодарность за высокий уровень организации курса «Главный инженер производственного предприятия» для сотрудников компании. Знания, полученные в рамках курса, безусловно, помогут в достижении более эффективных показателей в деятельности не только с теоретической точки зрения, но и с практической. Для наших сотрудников было очень ценным узнать возможности системного подхода к управлению активами и обеспечения задач по техническому обслуживанию, диагностике и ремонту промышленного оборудования.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/gosexpertiza.png',
        'https://img.cntiprogress.ru/Image/reviews/gosexpertiza-s.jpg'
      ],
      text: [
        'Уважаемый Алексей Валентинович!<br />Государственное автономное учреждение Самарской области «Государственная экспертиза проектов в строительстве» выражает искреннюю благодарность Обществу с ограниченной ответственностью «Регион» за предоставление образовательной услуги по программе дополнительного профессионального образования «Экспертная оценка цифровой информационной модели объектов капитального строительства». Хотим отметить отличную организацию всех работ по подготовке и проведению данного мероприятия. Надеемся на дальнейшее плодотворное сотрудничество.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/gosniihimanalit.png',
        'https://img.cntiprogress.ru/Image/reviews/gosniihimanalit-s.png'
      ],
      text: [
        'Благодарю Вас за отличную организацию и проведение корпоративного обучения для 13 сотрудников АО «ГосНИИхиманалит» в 2023 году по программе «Гособоронзаказ - 275 ФЗ. Практические вопросы раздельного учета, нормирования затрат, ценообразования, казначейского и банковского сопровождения». Полученные на курсе обучения знания и практические рекомендации помогут нам достичь желаемого результата в работе.',
        'Также благодарим менеджера корпоративного обучения Токаревой Анастасии за оперативность и ответственное отношение к потребностям заказчика.',
        'Надеюсь, что и в дальнейшем наше сотрудничество с ООО «Регион» будет проходить на таком же качественном уровне.'
      ]
    },      
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/rosohrana.png',
        'https://img.cntiprogress.ru/Image/reviews/rosohrana-s.png'
      ],
      text: [
        'ООО «РОСОХРАНА ТЕЛЕКОМ» выражает благодарность ЦНТИ «ПРОГРЕСС» за организацию обучения и проведение повышения квалификации наших сотрудников по программе «Управление рисками в проектах строительной отрасли»',
        'Обучение проводилась на высоком профессиональном уровне, благодаря грамотной работе преподавателя Гришина Максима Олеговича, который нашел индивидуальный подход к слушателям, предоставил много полезной практической информации, исходя из своего опыта, качественно подготовил программу исходя из потребностей нашей Компании, тем самым сделав процесс обучения эффективным и полезным.',
        'Также выражаем признательность менеджерам учебного центра за отличную организацию образовательного процесса.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/rubin.png',
        'https://img.cntiprogress.ru/Image/reviews/rubin-s.png'
      ],
      text: [
        'Настоящим выражаем благодарность от лица коллектива АО «Рубин», за систематизированный, профессионально поданный материал по теме: «Правила подготовки технических заданий» лектором (экспертом в сфере закупок, кандидатом педагогических наук, государственным советником г. Санкт-Петербурга 1 класса) Дрибноходом Сергеем Леонидовичем.',
        'Материал семинара в большей части основан на примерах из собственного опыта лектора, подкреплен на примерах нарушений на основе судебной практики и практики решений ФАС.',
        'Лектор, ответил на большое количество, поступивших от сотрудников организации в его адрес вопросов. Все ответы на вопросы были подкреплены ссылками на соответствующее законодательство Российской Федерации, актуальное и действующее в настоящее время.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/rusviepetro.png',
        'https://img.cntiprogress.ru/Image/reviews/rusviepetro-s.png'
      ],
      text: [
        'Позвольте выразить искреннюю благодарность за оперативное и качественное оказание услуг по обучению и сертификации внутренних аудиторов в соответствии с требованиями международных стандартов ІSО 9001:2015, ІSО 14001:2015 и ІSО 45001:2018.',
        'Особенно хочется отметить профессионализм, ответственность, отзывчивость и доброжелательность менеджеров и преподавателей.',
        'Сотрудники получили обширную теоретическую базу, с навыками применения знаний на практике, которая в дальнейшем поможет и дальше осуществлять эффективную и работу в сфере охраны труда, промышленной и экологической безопасности.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/tehnodom.png',
        'https://img.cntiprogress.ru/Image/reviews/tehnodom-s.png'
      ],
      text: [
        'Муниципальное унитарное предприятие «Техническое обслуживание и домоуправление» выражает благодарность Автономной некоммерческой организации дополнительного профессионального образования «ЦНТИ «Прогресс» за отлично проведенную работу по повышению квалификации наших специалистов и руководителей по теме: Акционирование унитарных предприятий, их деятельность в качестве акционерного общества.',
        'Предприятие отметило высокую квалификацию преподавательского состава, четкую и профессиональную работу лекторов Брешева Алексея Игоревича и Ржаницыной Виктории Станиславовны при организации учебного процесса.',
        'Выражаем свою признательность АНО ДПО «НТИ «Прогресс» за сотрудничество и Ваше ответственное отношение утруду. Желаем Вам дальнейшего процветания и профессиональных побед! Будем рады дальнейшему плодотворному сотрудничеству!'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/severnayaStolica.png',
        'https://img.cntiprogress.ru/Image/reviews/severnayaStolica-s.png'
      ],
      text: [
        'Выражаем благодарность коллективу ООО «Прогресс-Центр» за проведение курсов повышения квалификации для наших адвокатов в 2022 году по программам:',
        [
          '«Правовое сопровождение в строительстве» (11-14 мая);',
          '«Государственная экологическая экспертиза на этапах проектирования и ввода в эксплуатацию производственных объектов» (15-18 ноября);',
          '«Экспертиза опасных производственных объектов» (21 - 23 ноября).'
        ],
        'Спасибо ответственным за организацию процесса, неравнодушие и гибкий подход в решении учебных, документационных и организационных вопросов.',
        'Личная благодарность:<br />Стариковой Алине Александровне, ведущему менеджеру по корпоративному обучению.',
        'Будем рады продолжить плодотворное сотрудничество в новом году!'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/medistra.png',
        'https://img.cntiprogress.ru/Image/reviews/medistra-s.png'
      ],
      text: [
        'Слушатели курса отметили профессиональную работу преподавателей, качественную подачу материала, благоприятную эмоциональную атмосферу. В процессе обучения было представлено много новой полезной информации, получены ответы на все вопросы слушателей.',
        'Унитарное предприятие "Медистра" выражает благодарность преподавателям и организаторам корпоративного курса за грамотно спланированное и реализованное обучение и надеется на продолжение сотрудничества с АНО ДПО «ЦНТИ «Прогресс» в направлении повышения квалификации работников.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/zheldor.png',
        'https://img.cntiprogress.ru/Image/reviews/zheldor-s.png'
      ],
      text: [
        'ООО «Желдорпроект» уже не в первый год сотрудничает учебными центрами, ЦНТИ Прогресс по программам повышения квалификации персонала. Мы всегда отмечаем высокое качество и оперативность в организации выездного корпоративного обучения, он-лайн и очного обучения. Около 40 человек в 2022 году прошли обучение в Ваших центрах.',
        'Обучение проводилось с учетом специфики нашего предприятия. Преподаватели проанализировали опыт нашей компании, представили разнообразные подходы к изучаемой теме и интересный критический материал. Благодаря ярким примерам и фактам, теоретические положения легко воспринимались слушателями. Все сотрудники, прошедшие обучение, отзываются очень положительно и отмечают высокий профессионализм всех преподавателей. Также хочется отметить клиентоориентированность ЦНТИ Прогресс и грамотную организацию процесса: от заявки на организацию до получения документов об обучении. Мы рады видеть вас в числе своих партнеров и надеемся на дальнейшее взаимовыгодное сотрудничество.'
      ]
    },
  // предыдущие 13 объектов...
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/ilim.png',
        'https://img.cntiprogress.ru/Image/reviews/ilim-s.png'
      ],
      text: [
        'С 12.09.2022 г. по 16.09.2022 г. ООО «Прогресс-Центр» проводил корпоративное обучение специалистов Регионального кадрового центра в г. Усть-Илимске, Дирекции по производственной эффективности и производственному совершенству, Дирекции по транспорту и логистике, Дирекции ЦКК, Дирекции по энергетике и технической дирекции по курсу: «Автоматизация обработки данных средствами MS Excel Power Query. Расширенные возможности и лучшие практики».',
        'Рассматриваемые в рамках курса повышения квалификации вопросы актуальны для повышения эффективности деятельности данного подразделения. Особо стоит отметить высокий уровень преподавания лектора курса Бариновой Светланы Николаевны, которая преподнесла слушателям не только новую информацию, но и отработала с ними ключевые навыки в практических упражнениях и дала индивидуальные рекомендации.',
        'Благодарим ООО «Прогресс-Центр» за предоставленную возможность получить профессионально значимые знания, которые будут применяться в ежедневной практической деятельности сотрудников нашей компании.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/sapphire.png',
        'https://img.cntiprogress.ru/Image/reviews/sapphire-s.png'
      ],
      text: [
        'В 2020 году ООО «ПИУЦ «Сапфир» совместно с ООО «Регион» успешно реализовали обучение по программам:',
        [
          '«Обустройство нефтегазовых месторождений. Общий курс по землеустройству. Лесопользование. Кадастровая деятельность. Градостроительная документация». Тренеры: Лукинов Вячеслав Михайлович, Жаркова Ольга Александровна.',
          '«Общий курс по землеустройству. Градостроительная документация». Тренер: Лукинов Вячеслав Михайлович, Жаркова Ольга Александровна.',
          '«Ценообразование проектных работ». Тренер: Ковязин Дмитрий Иванович.'
        ],
        'Слушателями отмечены «Рассмотрение конкретных примеров, обзор практики», «Взаимодействие с аудиторией», «Доступное изложение материала», «Позитивный настрой преподавателей, емкий материал, подробность информации».',
        'От лица ООО «ПИУЦ «Сапфир» Благодарим Вас и сотрудников ООО «Регион» за проделанную работу и надеемся на дальнейшее плодотворное сотрудничество.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/Image/reviews/epk-stepnogorsk.png',
        'https://img.cntiprogress.ru/Image/reviews/epk-stepnogorsk-s.png'
      ],
      text: [
        'Для развития компетентности персонала АО «ЕПК Степногорск» в области диспетчеризации в апреле 2022 года на базе нашего предприятия был проведен четырехдневный онлайн семинар по программе «Планированиеи диспетчеризация производства».',
        'Сотрудники, принявшие участие в семинаре, дали положительную оценку высокому профессионализму и компетентности преподавателей Вашего учебного центра. В ходе проведения семинара были получены очень чёткие, аргументированные разъяснения по всем возникающим вопросам с предельно доступной подачей информации. Приведено много практических примеров.',
        'После окончания семинара было проведено анкетирование и собеседование с участниками курса. Согласно отзывам, слушатели получили много интересной и полезной информации, которая, несомненно, применима на практике.',
        'АО «ЕПК Степногорск» выражает глубокую признательность ООО «Прогресс-Центр» за профессионализм консультантов, четкое и полное выполнение договорных обязательств. Желаем вашей организации успешного развития и достижения новых вершин.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/file/ivksenia/otzyv-dorozhnoe-stroitelstvo.png',
        'https://img.cntiprogress.ru/file/ivksenia/otzyv-dorozhnoe-stroitelstvo_ss.png'
      ],
      text: [
        'Выражаем искреннюю благодарность коллективу ООО «Регион» за проведенный онлайн-курс для прорабов и мастеров по теме «Дорожное строительство» в период с 28.02.2022г. по 03.03.2022г.',
        'Наши сотрудники получили новые знания по всем действующим и вновь введенным ГОСТам и нормативам. Самое главное, что Ваши преподаватели ведут курс, основываясь на собственный опыт, они – «люди с производства». Это очень ценно.',
        'После окончания обучения нам были направлены все презентации, таким образом, наши сотрудники смогут всегда посмотреть курс заново.',
        'Также хочется отметить, что Ваши сотрудники легко и быстро решают все возникающие вопросы, подстраиваясь под заказчика.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/file/ivksenia/chukot_sportturism.jpg',
        'https://img.cntiprogress.ru/file/ivksenia/chukot_sportturism_s.jpg'
      ],
      text: [
        'Департамент культуры, спорта и туризма Чукотского автономного округа выражает благодарность Обществу с ограниченной ответственностью «Регион» за предоставленные образовательные услуги и плодотворное сотрудничество.',
        'В рамках Регионального проекта «Творческие люди» национального проекта «Культура» в Чукотском автономном округе в период с 17 по 22 октября 2021 года были проведены курсы повышения квалификации специалистов сферы культуры по программе обучения «Волонтерская деятельность в сфере культуры» в очном формате обучения (с выездом преподавателя на территорию Чукотского автономного округа).',
        'Отдельная благодарность преподавателю – Шековой Екатерине Леонидовне за высококвалифицированную работу.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/file/ivksenia/vestnik_zapolar_b.jpg',
        'https://img.cntiprogress.ru/file/ivksenia/vestnik_zapolar_s.jpg'
      ],
      text: [
        'Благодарим за отличную организацию и проведение корпоративного обучения для 8 сотрудников МАУ «Газета «Вестник Заполярья» в 2021 году по программе «Графический дизайн: компьютерные технологии, инфографика». Полученные на курсе обучения знания помогут нам достичь желаемого уровня качества в вопросах вёрстки и графического оформления издания.',
        'Стоит отметить традиционно высокий профессиональный уровень преподавателей ООО «Прогресс-Центр», которые мастерски сочетают глубокие теоретические знания и бесценный практический опыт.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/file/ivksenia/osk_otziv.jpg',
        'https://img.cntiprogress.ru/file/ivksenia/osk_otziv_s.jpg'
      ],
      text: [
        'Департамент имущественных прав АО «ОСК» благодарит АНО ДПО «ЦНТИ «Прогресс» за проведение корпоративного обучения по программе «Управление объектами интеллектуальной собственности на предприятии».',
        'Рассматриваемые в рамках курса системный подход к организации управления интеллектуальной собственностью, инвентаризации результатов интеллектуальной деятельности, а также вопросы оценки объектов интеллектуальной собственности имеют практическую значимость для проводимых мероприятий по повышению эффективности бизнеспроцессов.'
      ]
    },
    {
      images: [
        'https://img.cntiprogress.ru/file/ivksenia/nornikel_otziv.jpg',
        'https://img.cntiprogress.ru/file/ivksenia/nornikel_otziv_s.jpg'
      ],
      text: [
        'Благодарю Вас за хорошую организацию и проведение корпоративного обучения для 22 работников первичных профсоюзных организаций МООП ПАО "ГМК "Норильский никель" в июне 2021 года по программе «Контроль охраны труда и социальной защиты работников со стороны профсоюзной организации с учетом изменения законодательства 2021-2022 г.»',
        'Хочу отметить высокий профессиональный уровень преподавателей ООО «Прогресс-Центр», которые мастерски сочетают глубокие теоретические знания и практический опыт.',
        'Надеюсь, что в будущем, мы продолжим эту славную традицию.'
      ]
    },
    {
      images: [
        'http://img.cntiprogress.ru/image/1_cnti/class_corp.jpg',
        'http://img.cntiprogress.ru/image/1_cnti/class_corp_s.jpg'
      ],
      text: [
        'АО НПП «КлАСС» выражает вам свою благодарность за организацию учебы на тему «Организация контроля качества при производстве оборонной продукции» с 20 сотрудниками отдела технического контроля предприятия с 02.02.2021 г. по 05.02.2021 г.'
      ]
    },
    {
      images: [
        'http://img.cntiprogress.ru/image/1_cnti/sibirsk_cement.jpg',
        'http://img.cntiprogress.ru/image/1_cnti/sibirsk_cement_s.jpg'
      ],
      text: [
        'АО «ХК «Сибцем» выражает огромную благодарность за отлично проведенную работу по повешению квалификации сотрудников на корпоративном семинаре.',
        'Повышение квалификации сотрудников является важной составляющей любого направления в бизнесе. Обучение персонала должно проходить таким образом, чтобы мотивировать работников на дальнейшее развитие и на достижение результатов. Особенно приятно, когда обучение проходит легко и интересно. Именно этим выделяется компания ЦНТИ Прогресс.'
      ]
    },
    {
      images: [
        'http://img.cntiprogress.ru/image/1_cnti/orenb_miner.jpg',
        'http://img.cntiprogress.ru/image/1_cnti/orenb_miner_s.jpg'
      ],
      text: [
        'Вы не просто организовали грамотное обучение наших специалистов, но и привлекли высококвалифицированный преподавательский состав при организации учебного процесса.',
        'Выражаем свою признательность за Ваш плодотворный труд и желаем ЦНТИ Прогресс дальнейшего процветания и профессиональных успехов!'
      ]
    },
    {
      images: [
        'http://img.cntiprogress.ru/image/1_cnti/kirishskaya_gres.jpg',
        'http://img.cntiprogress.ru/image/1_cnti/kirishskaya_gres_s.jpg'
      ],
      text: [
        'Слушатели курса отметили профессиональную работу преподавателей, качественную подачу материала с большим количеством практических примеров, благоприятную эмоциональную атмосферу. В процессе обучения было представлено много новой полезной информации, получены ответы на вопросы слушателей.',
        'Филиал ПАО «ОГК-2» — Киришская ГРЭС выражает благодарность преподавателям и организаторам курса и надеется на продолжение сотрудничества с учебным центром ООО «Прогресс-Центр» по повышению квалификации работников.'
      ]
    },
    {
      images: [
        'http://img.cntiprogress.ru/image/1_cnti/katkoneft.jpg',
        'http://img.cntiprogress.ru/image/1_cnti/katkoneft_s.jpg'
      ],
      text: [
        'Семинар был актуальным, интересным и доступным. Специалисты и руководители получили возможность значительно повысить уровень знаний и получить ответы на вопросы, возникающие в процессе обучения. Слушатели были обеспеченны интересным раздаточным материалом. Проведенное обучение и тренинг полностью соответствовали заявленным потребностям и целям.',
        'Сотрудники, прошедшие обучение отметили высокую квалификацию, профессионализм преподавателя и доступную подачу материала, все излагалось в наглядной и образной форме. Полученные на семинаре знания будут обязательно применимы в дальнейшей работе.',
        'Благодарим за качественные услуги и надеемся на дальнейшее плодотворное сотрудничество!'
      ]
    },
    {
      images: [
        'http://img.cntiprogress.ru/image/1_cnti/karlis_prom.jpg',
        'http://img.cntiprogress.ru/image/1_cnti/karlis_prom_s.jpg'
      ],
      text: [
        'Повышение квалификации сотрудников является важной составляющей любого направления в бизнесе. Обучение персонала должно проходить таким образом, чтобы мотивировать сотрудников на дальнейшее развитие и на достижение результатов. Особенно приятно, когда обучение проходит легко и интересно. Эффективность семинара заключается в оптимальном соотношении отработки практических навыков и подачи теоретического материала, и конечно, в высоком профессионализме преподавателя.',
        'Атмосфера, создаваемая в ходе тренингов, способствовала не только активной творческой работе, но и эффективному усвоению материала и сплочению команды.',
        'Все участники курса отметили высокий профессионализм и интересную подачу материала лектором и актуальность изученного материала.',
        'Мы благодарим за высокопрофессиональный подход и качественную подачу материала, за постоянную готовность помочь и надеемся на дальнейшее сотрудничество.'
      ]
    },
    {
      images: [
        'http://img.cntiprogress.ru/image/1_cnti/frezenius_oms.jpg',
        'http://img.cntiprogress.ru/image/1_cnti/frezenius_oms_s.jpg'
      ],
      text: [
        'Общество с ограниченной ответственностью «Центр Диализа» выражает благодарность за проведенную работу по повышению квалификации сотрудников ООО «Центр Диализа» на корпоративном семинаре «Деятельность медицинских организаций в системе обязательного медицинского страхования (ОМС)» в периоды с 27 июня по 28 июня 2017 г.',
        'Сотрудники получили возможность повысить уровень своих знаний и отметили высокую профессиональную квалификацию преподавателя ЦНТИ Прогресс Николаева Алексея Николаевича. Благодарим за качественное обучение и надеемся на продолжение дальнейшего сотрудничества с Вами.'
      ]
    }
  ];


section.section
  .container
    h2.title БЛАГОДАРСТВЕННЫЕ ПИСЬМА
  .licenses-slider.m2.bgs._gallery
    .container        
      .licenses-slider__swiper.swiper.n1o1
        .swiper-wrapper
          each letter in letters
            .licenses-slider__slide.swiper-slide
              .row.wrap.g5.x4jcc.n3o1
                a(
                    href=letter.images[0], 
                    data-swiper-parallax-opacity='0',
                    data-swiper-parallax-duration='400'
                  )
                  img.licenses-slider__img.n1w2.n3w3.w1.x4w2.cvr(src=letter.images[1], alt="")
                .col7.n1w6.n3w7.w3.x4w4(
                    data-swiper-parallax-y='24', 
                    data-swiper-parallax-opacity='0',
                    data-swiper-parallax-duration='600'
                  )
                  each p in letter.text
                    if Array.isArray(p)
                      ul.ul.col6
                        each li in p
                          li.ul__li !{li}
                    else 
                      p.p1 !{p}
        .licenses-slider__navigation.swiper-navigation.r.aic.jcb.x3w2
          .licenses-slider__prev.r.aic.jcc.i24
            svg.i24
              use(xlink:href='img/sprite/symbols.svg#chevron-down')
          .licenses-slider__next.r.aic.jcc.i24
            svg.i24
              use(xlink:href='img/sprite/symbols.svg#chevron-down')