-
  regularFormats = [
    {
      title: 'КУРС ПОВЫШЕНИЯ КВАЛИФИКАЦИИ',
      description: 'Обучение с полным отрывом от работы и обязательным посещением очных занятий по установленному расписанию.',
      features: [
        { icon: 'tablet', text: 'Удостоверение о повышении квалификации' },
        { icon: 'clock', text: 'От 16 до 72 часов' },
        { icon: 'building', text: 'Курс проходит в нашем учебном комплексе в Петербурге или Москве' }
      ],
      learningDescription: 'Курсы сочетают лекционные, семинарские, практические занятия, мастер-классы, дискуссии и/круглые столы. Слушатели взаимодействуют с/преподавателями, экспертами и/коллегами из/разных регионов лично. Участникам курса предоставляется комплект учебных материалов от/преподавателей.'
    },
    {
      title: 'Онлайн-курс повышения квалификации',
      description: 'Онлайн-занятия проходят по расписанию соответствующего очного курса.',
      features: [
        { icon: 'tablet', text: 'Удостоверение о повышения квалификации' },
        { icon: 'clock', text: 'От 16 до 72 часов' },
        { icon: 'wifi', text: 'Курс проходит онлайн, нужен лишь удобный гаджет и доступ в интернет' }
      ],
      learningDescription: 'Онлайн-курсы повышения квалификации реализуются как трансляции очных курсов — через подключение к аудитории в Петербурге или Москве. Онлайн-участники общаются друг с другом, лектором и коллегами в аудитории, задают вопросы устно с помощью микрофона или письменно в чате, выполняют задания. Период доступа к видеозаписи занятий и учебным материалам устанавливается отдельно для каждого курса.'
    },
    {
      title: 'Тренинг',
      description: 'Очные и онлайн-тренинги проходят по расписанию.',
      features: [
        { icon: 'tablet', text: 'Сертификат или свидетельство об участии' },
        { icon: 'clock', text: 'От 8 часов' },
        { icon: 'wifi', text: 'Тренинг проходит либо онлайн, либо в учебном комплексе в Петербурге или Москве' }
      ],
      learningDescription: 'Тренинги — это интенсивные, динамичные занятия с акцентом на интерактивных и групповых заданиях, практических упражнениях, дискуссиях и деловых играх. Участникам очных и онлайн-тренингов предоставляются учебные материалы от преподавателей.'
    },
    {
      title: 'Вебинар',
      description: 'Онлайн-занятия проходят по расписанию.',
      features: [
        { icon: 'tablet', text: 'Сертификат или свидетельство об участии.' },
        { icon: 'clock', text: 'От 2 до 16 часов' },
        { icon: 'wifi', text: 'Вебинар проходит онлайн, нужен лишь удобный гаджет и доступ в интернет' }
      ],
      learningDescription: 'Вебинары — это короткие онлайн-интенсивы, сфокусированные на узких, острых темах. С помощью камеры и микрофона слушатели общаются друг с другом и лектором, задают вопросы устно и письменно в чате. Период доступа к видеозаписи занятий и учебным материалам устанавливается отдельно для каждого вебинара.'
    }
  ]

  distFormats = [
    {
      title: 'Дистанционный курс повышения квалификации',
      description: 'Обучение с полным отрывом от работы и обязательным посещением очных занятий по установленному расписанию.',
      features: [
        { icon: 'tablet', text: 'Удостоверение о повышении квалификации высылается почтой' },
        { icon: 'clock', text: 'От 16 до 72 часов' },
        { icon: 'wifi', text: 'Курс проходит онлайн, нужен лишь удобный гаджет и доступ в интернет' }
      ]
    },
    {
      title: 'КУРС ПОВЫШЕНИЯ КВАЛИФИКАЦИИ',
      description: 'Обучение с полным отрывом от работы и обязательным посещением очных занятий по установленному расписанию.',
      features: [
        { icon: 'tablet', text: 'Диплом о профессиональной переподготовке' },
        { icon: 'clock', text: '11 недель или 252 часа' },
        { icon: 'wifi', text: 'Переподготовка проходит онлайн, нужен лишь удобный гаджет и доступ в интернет' }
      ]
    },
  ]

mixin courseTypeCard(props)
  article.col3
    h2.tb.t1= props.title
    .col5
      p.p1= props.description
      .col7
        each feature in props.features
          p.r5.aic
            svg.i20
              use(xlink:href=`img/sprite/symbols.svg#${feature.icon}`)
            span.p2= feature.text
      footer.col7
        if props.learningDescription
          h3.t2d Обучение
          p.p1= props.learningDescription

//- Использование
.section
  .container
    .col1.n2ol1.n1or3.n2or1
      each courseType in regularFormats
        +courseTypeCard(courseType)

section.section
  .container
    .body
      .col1.n2ol1.n1or3.n2or1
        .col3
          h2.ta.t1 Дистанционное ОБУЧЕНИЕ
          p.p1 Дистанционные курсы и программы профпереподготовки не привязаны к датам. #[br]Слушатель сам определяет расписание занятий и комфортный темп обучения.
        each courseType in distFormats
          +courseTypeCard(courseType)
        footer.col7
          h3.t2d Обучение
          p.p1 Дистанционные курсы и программы профпереподготовки проводятся на базе дистанционной системы обучения — виртуальной аудитории, где проходит изучение модулей, фиксируются промежуточные и итоговые тестирования, хранятся материалы. Для консультации с преподавателями используется онлайн-чат. Аттестация проходит в форме теста, на решение которого дается 3 попытки. Текстовые и видеолекции, презентации, задания для самоконтроля, тесты и решения доступны слушателям в ходе обучения.

//- http://localhost:1709/page-navigation.html