-
  rubricsArchive = {
    industry: {
      title: "Промышленность",
      color: "jade",
      rubrics: [
        { name: "Управление производством", courses: 77 },
        { name: "Материалы, технологии, оборудование", courses: 24 },
        { name: "Бережливое производство", courses: 15 },
        { name: "Гособоронзаказ", courses: 21 },
        { name: "Импортозамещение", courses: 10 },
        { name: "Управление качеством", courses: 36 },
        { name: "Стандартизация. Метрология", courses: 21 },
        { name: "Закупки. Снабжение. Склад", courses: 31 },
        { name: "Транспорт", courses: 19 },
        { name: "Интеллектуальная собственность", courses: 10 },
        { name: "Управление инновациями", courses: 8 },
        { name: "Легкая промышленность", courses: 3 }
      ]
    },
    safety: {
      title: "Безопасность",
      color: "jade",
      rubrics: [
        { name: "Экономическая и&nbsp;юридическая", courses: 8 },
        { name: "Кадровые риски", courses: 4 },
        { name: "Пожарная безопасность", courses: 7 },
        { name: "Безопасность систем управления", courses: 7 },
        { name: "Промышленная безопасность", courses: 6 },
        { name: "Экологическая безопасность", courses: 5 },
        { name: "Информационная безопасность", courses: 4 },
        { name: "Охрана труда", courses: 12 },
        { name: "Комплексная безопасность", courses: 9 }
      ]
    },
    energy: {
      title: "Энергетика",
      color: "turquoise",
      rubrics: [
        { name: "Энергосбережение", courses: 12 },
        { name: "Экономика и&nbsp;инвестиции&nbsp;в энергетике", courses: 9 },
        { name: "Правовое регулирование в энергетике", courses: 5 },
        { name: "Эксплуатация объектов ТЭК", courses: 20 }
      ]
    },
    construction: {
      title: "Строительство и&nbsp;инженерные сети",
      color: "turquoise",
      rubrics: [
        { name: "Проектирование. Изыскания", courses: 49 },
        { name: "Строительство: организация и&nbsp;управление", courses: 56 },
        { name: "Инженерные сети: проектирование и&nbsp;строительство", courses: 44 },
        { name: "Строительные материалы и&nbsp;технологии", courses: 9 },
        { name: "Дорожное строительство", courses: 16 },
        { name: "Экономика строительства", courses: 13 },
        { name: "Сметное дело", courses: 16 },
        { name: "Правовое регулирование строительной деятельности", courses: 20 }
      ]
    },
    housing: {
      title: "ЖКХ. Городское хозяйство",
      color: "turquoise",
      rubrics: [
        { name: "ЖКХ. Городское хозяйство", courses: 2 },
        { name: "Ремонт и&nbsp;эксплуатация зданий и&nbsp;сооружений", courses: 6 }
      ]
    },
    realEstate: {
      title: "Недвижимость",
      color: "lime",
      rubrics: [
        { name: "Управление и&nbsp;эксплуатация недвижимости", courses: 14 }
      ]
    },
    ecology: {
      title: "Экология и&nbsp;землепользование",
      color: "lime",
      rubrics: [
        { name: "Экология", courses: 24 },
        { name: "Недропользование", courses: 4 },
        { name: "Землепользование", courses: 21 }
      ]
    },
    hr: {
      title: "Управление персоналом",
      color: "apricot",
      rubrics: [
        { name: "Трудовое право. Кадровое делопроизводство", courses: 43 },
        { name: "HR-технологии. Управление персоналом", courses: 55 }
      ]
    },
    office: {
      title: "Офисные службы",
      color: "gold",
      rubrics: [
        { name: "Работа с руководителем", courses: 9 },
        { name: "Делопроизводство", courses: 17 },
        { name: "Архивы", courses: 4 }
      ]
    },
    management: {
      title: "Менеджмент",
      color: "gold",
      rubrics: [
        { name: "Общий менеджмент", courses: 36 },
        { name: "Специальный менеджмент", courses: 4 },
        { name: "Управление административно-хозяйственной деятельностью", courses: 3 },
        { name: "Спортивный менеджмент", courses: 2 }
      ]
    },
    marketing: {
      title: "Маркетинг. PR",
      color: "graphite",
      rubrics: [
        { name: "Маркетинг. Продажи", courses: 1 },
        { name: "Реклама. PR", courses: 3 }
      ]
    },
    finance: {
      title: "Экономика. Финансы. Бухгалтерский учет",
      color: "gold",
      rubrics: [
        { name: "Налогообложение", courses: 12 },
        { name: "Бухгалтерский учет", courses: 38 },
        { name: "Финансовый менеджмент. Экономика", courses: 52 },
        { name: "Оплата труда и&nbsp;мотивация", courses: 10 },
        { name: "Нормирование труда", courses: 7 }
      ]
    },
    law: {
      title: "Право. ВЭД",
      color: "gold",
      rubrics: [
        { name: "Корпоративное право", courses: 19 },
        { name: "Гражданское и&nbsp;процессуальное право", courses: 25 },
        { name: "Другие отрасли&nbsp;права", courses: 21 },
        { name: "Право по виду деятельности", courses: 4 },
        { name: "Договорная работа", courses: 12 },
        { name: "Внешнеэкономическая деятельность", courses: 16 }
      ]
    },
    it: {
      title: "Информационные технологии",
      color: "ocean",
      rubrics: [
        { name: "Управление ИТ-инфраструктурой", courses: 11 },
        { name: "Программное обеспечение", courses: 14 },
        { name: "Кибербезопасность и&nbsp;защита данных", courses: 4 }
      ]
    },
    telecom: {
      title: "Связь",
      color: "ocean",
      rubrics: [
        { name: "Проектирование и&nbsp;строительство объектов связи", courses: 12 }
      ]
    },
    government: {
      title: "Государственное и&nbsp;муниципальное управление",
      color: "lavender",
      rubrics: [
        { name: "Организация деятельности&nbsp;учреждений и&nbsp;органов власти", courses: 74 },
        { name: "Бюджетное финансирование", courses: 48 },
        { name: "Некоммерческие организации", courses: 3 }
      ]
    },
    social: {
      title: "Социальная защита",
      color: "berry",
      rubrics: [
        { name: "Организация работы органов социальной защиты населения", courses: 4 },
        { name: "Технологии&nbsp;социального обслуживания", courses: 3 }
      ]
    },
    medicine: {
      title: "Медицина",
      color: "berry",
      rubrics: [
        { name: "Организация здравоохранения", courses: 21 },
        { name: "Право в здравоохранении", courses: 5 },
        { name: "Экономика и финансы в здравоохранении", courses: 10 }
      ]
    },
    education: {
      title: "Образование",
      color: "periwinkle",
      rubrics: [
        { name: "Высшее образование", courses: 13 },
        { name: "Среднее профессиональное образование", courses: 21 },
        { name: "Дополнительное профессиональное образование", courses: 10 },
        { name: "Среднее общее и&nbsp;специальное (коррекционное) образование", courses: 7 }
      ]
    },
    culture: {
      title: "Культура",
      color: "blush",
      rubrics: [
        { name: "Управление в сфере культуры", courses: 4 },
        { name: "Театры. ДК", courses: 9 },
        { name: "Музеи. Библиотеки", courses: 18 },
        { name: "Организация культурно-досуговых мероприятий", courses: 6 },
        { name: "Технологии: звук, свет, сцена", courses: 7 }
      ]
    },
    media: {
      title: "Массмедиа",
      color: "graphite",
      rubrics: [
        { name: "СМИ, редакция", courses: 5 },
        { name: "Дизайн", courses: 1 },
        { name: "Переводы", courses: 2 }
      ]
    },
    agriculture: {
      title: "Агропромышленный комплекс",
      color: "lime",
      rubrics: [
        { name: "Пищевое производство", courses: 15 },
        { name: "Сельское хозяйство", courses: 7 }
      ]
    },
    horeca: {
      title: "HoReCa",
      color: "scarlet",
      rubrics: [
        { name: "Гостиницы", courses: 3 },
        { name: "Общепит", courses: 10 },
        { name: "ХАССП и&nbsp;контроль качества", courses: 1 }
      ]
    }
  };


section.rubric-tabs
  .rubric-tabs__container.container
    h1.rubric-tabs__title Семинары и&nbsp;курсы по направлениям
    .rubric-tabs__body._tabs
      .rubric-tabs__tab-titles
        .rubric-tabs__indicator._tabs-indicator
        button.rubric-tabs__tab-title._active._tabs-title 
          svg.rubric-tabs__tab-title-svg
            use(xlink:href='img/sprite/symbols.svg#building')
          | Очно
        button.rubric-tabs__tab-title._tabs-title 
          svg.rubric-tabs__tab-title-svg
            use(xlink:href='img/sprite/symbols.svg#wifi')
          | Онлайн
      .rubric-tabs__tab-blocks._tabs-blocks
        .rubric-tabs__tab-block._tabs-block._active
          .rubrics
            .rubrics__body
              each group in rubricsArchive
                .rubrics__group(style="--group-color:var(--" + group.color + ")")
                  h2.rubrics__group-title
                    span.rubrics__group-title-square
                    | !{group.title} 
                  .rubrics__group-body
                    each rubric in group.rubrics
                      p.rubrics__item
                        a.rubrics__link(href="#") !{rubric.name}&nbsp;—&nbsp;!{rubric.courses}
        .rubric-tabs__tab-block._tabs-block
          .rubrics
            .rubrics__body
              each group in rubricsArchive
                .rubrics__group(style="--group-color:var(--" + group.color + ")")
                  h2.rubrics__group-title
                    span.rubrics__group-title-square
                    | !{group.title} 
                  .rubrics__group-body
                    -
                      rubric = group.rubrics[0]
                    p.rubrics__item
                      a.rubrics__link(href="#") !{rubric.name}&nbsp;—&nbsp;!{rubric.courses}