mixin courseInfo(course, options = {})
  - 
    const config = {
      isOnline: options.isOnline || false,
      class: options.class || false,
      titleLevel: options.titleLevel || 'h2', // h2, h3
      showLocation: options.showLocation || false,
      showPrice: options.showPrice || false, 
      showHours: options.showHours || false,
      type: options.type || false,
    }

  .course-info(class=config.class)&attributes(attributes)
    if config.type
      p.p2 #{config.type}

    #{config.titleLevel}.m7
      a.t2.link(href=course.href || "#") !{course.name}

    .course-info__row
      //- Локация
      if config.showLocation && !config.isOnline && course.location !== false
        p.course-info__item
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#location')
          | #{course.location || 'Санкт-Петербург'}

      //- Компания
      if course.company
        p.course-info__item
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#user-check')
          | #{course.company}

      //- Формат
      if course.format
        p.course-info__item
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#location')
          | #{course.format}

      //- Цена
      if config.showPrice && course.price
        .course-info__item
          .tooltip
            .tooltip__text Цена действует на ближайшую дату. В течение года цена может расти — записывайтесь заранее.
            svg.i20
              use(xlink:href='img/sprite/symbols.svg#info')
          | !{course.price} ₽

      //- Часы
      if config.showHours && course.hours
        p.course-info__item
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#clock')
          | !{course.hours} #{course.hours === 1 ? 'час' : 'часа'}      

      //- Дата
      if course.date
        p.course-info__item
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#clock')
          | #{course.date}

      //- Ссылка на другой формат
      if course.otherFormatLink
        a.course-info__link(href=course.otherFormatLink || "#") 
          svg.i20
            use(xlink:href=`img/sprite/symbols.svg#${config.isOnline ? 'building' : 'wifi'}`)
          | !{config.isOnline ? 'Доступно очно' : 'Доступна онлайн-трансляция'}

    if course.description
      p.p2.m4 !{course.description}

mixin courseInfoCase(course)
  .course-info-case&attributes(attributes)
    a.t2.link(href=course.href || "#") !{course.name}

    if course.description
      p.p2.m5 !{course.description}

    if course.items
      .col5.m5
        each item, i in course.items
          .course-info-case__row
            //- Компания
            if item.company
              p.course-info-case__item.course-info-case__item--company
                svg.i16
                  use(xlink:href='img/sprite/symbols.svg#user-check')
                | Для !{item.company}

            //- Формат
            if item.format
              p.course-info-case__item.course-info-case__item--format
                svg.i16
                  use(xlink:href='img/sprite/symbols.svg#location')
                | !{item.format} 

            //- Дата
            if item.date
              p.course-info-case__item.course-info-case__item--date
                svg.i16
                  use(xlink:href='img/sprite/symbols.svg#clock')
                | !{item.date}          
          if i !== course.items.length - 1 
            hr.bbd2l