-
  courses = [
    {
      name: "Производство без потерь. Бережливое производство для мастеров участка",
      price: "58 200",
      description: "Курс подготовит руководителей производственных подразделений к внедрению Бережливого производства на своих участках. Бережливое производство помогает укрепить дисциплину, сократить производственные потери и повысить эффективность оборудования",
      hours: 32,
      isNew: true,
      dates: [
        {
          date: "5–7 мая",
          code: "72701"
        },
        {
          date: "Май 2026",
          code: "80471"
        },
      ]
    },
    {
      name: "Нормирование точности изделий машиностроения",
      price: "54 900",
      description: "Цель программы — ознакомить инженеров-конструкторов с принципами нормирования точности в машиностроении, показать влияние точности на функциональные и эксплуатационные свойства изделий; как нормирование точности связано с взаимозаменяемостью и стоимостью изделия",
      hours: 32,
      isNew: true,
      dates: [
        {
          date: "12–15 мая",
          code: "77913"
        },
        {
          date: "Октябрь 2026",
          code: "78085"
        },
      ]
    },
    {
      name: "Технические компетенции инженера: практическое применение для решения производственных задач",
      price: "58 200",
      description: "Цель программы — повышение компетенций технических специалистов, глубокое погружение в инженерный минимум, совершенствование навыков чтения конструкторской и технологической документации, расчета допусков, проведение контроля технологической дисциплины",
      hours: 32,
      isNew: true,
      dates: [
        {
          date: "12–14 мая",
          code: "72701"
        },
        {
          date: "Декабрь 2025",
          code: "80471"
        },
      ]
    },
    {
      name: "Контроль и анализ эффективности производственной системы. Аудит уровня зрелости бережливого производства",
      price: "52 200",
      description: "В курсе — как самостоятельно определять сильные и слабые стороны внедренных систем Бережливого производства, идентифицировать области для развития, предоставлять рекомендации и разрабатывать план действий для повышения эффективности методик бережливого производства. Комплект информационных материалов содержит примеры полезной документации. Выезд на предприятие с внедренными методиками Бережливого производства",
      hours: 32,
      isNew: true,
      dates: [
        {
          date: "12–15 мая",
          code: "72701"
        },
        {
          date: "Май 2026",
          code: "80471"
        },
      ]
    },
    {
      name: "Современные практики управления производством",
      price: "54 800",
      description: "Программа направлена на проведение комплексного анализа текущего состояния производства. Курс даст инструменты эффективной оптимизации процессов и сокращения затрат на производстве. Слушатели изучат новые приемы стратегического планирования, пути повышения качества продукции, освоят приемы бережливого производства",
      hours: 32,
      isNew: true,
      dates: [
        {
          date: "12–16 мая",
          code: "72701"
        },
        {
          date: "13–17 Октября",
          code: "80471"
        },
      ]
    },
    {
      name: "Производство изделий из пластмасс. Современные технологии, материалы и оборудование",
      price: "58 200",
      description: "Курс охватывает широкий круг вопросов по производству изделий из пластмасс: литью пластмасс, литью с выдувом, экструзии с раздувом, переработке пластика. Вы узнаете об актуальных технологиях и современном оборудовании, лекторы поделятся опытом модернизации технологических процессов и повышения эффективности эксплуатации оборудования",
      hours: 32,
      isNew: true,
      dates: [
        {
          date: "12–16 мая",
          code: "72701"
        },
        {
          date: "22–25 Сентября",
          code: "80471"
        },
      ]
    },
    {
      name: "Современные композиционные материалы. Производство и применение",
      price: "58 200",
      description: "На курсе рассматриваются эксплуатационные свойства различных композиционных материалов, современные технологии изготовления, применение их на производстве и текущее состояние рынка композитов в России",
      hours: 32,
      isNew: true,
      dates: [
        {
          date: "13–16 мая",
          code: "72701"
        },
      ]
    },
    {
      name: "Автоматизация планирования производства. Внедрение ERP-системы производственного планирования на примере 1С ERP",
      price: "58 200",
      description: "Подготовка производства к внедрению ERP при автоматизации планирования производства на примере 1С ERP. Ожидания пользователей и оценка реальных возможностей и инструментов системы. Разработка дорожной карты, реально работающего плана действий по внедрению ERP-системы",
      hours: 32,
      isNew: false,
      dates: [
        {
          date: "13–16 мая",
          code: "72701"
        },
        {
          date: "Май 2026",
          code: "80471"
        },
      ]
    },
    {
      name: "Технологическая подготовка при постановке оборонной продукции на производство",
      price: "58 200",
      description: "В программе требования к технологической подготовке производства продукции, поставляемой по ГОЗ. Практические рекомендации и комплексное рассмотрение вопросов по организации технологической подготовки, обеспечению технологичности конструкции изделий оборонной продукции на всех этапах жизненного цикла от проектирования до серийного производства, эксплуатации и ремонта",
      hours: 32,
      isNew: true,
      dates: [
        {
          date: "13–16 мая",
          code: "72701"
        },
        {
          date: "22–25 Сентября",
          code: "80471"
        },
      ]
    },
    {
      name: "Современный электропривод. Автоматизация технологических процессов и производств",
      price: "58 200",
      description: "Вы получите навыки выбора компонентов электропривода, практику пусконаладки электроприводов переменного тока, знания о последних изменениях в современном состоянии приводной техники",
      hours: 32,
      isNew: false,
      dates: [
        {
          date: "12–16 мая",
          code: "72701"
        },
        {
          date: "22–25 Сентября",
          code: "80471"
        },
      ]
    },
    {
      name: "Оперативное планирование производственной деятельности цеха/участка. Современные способы управления производством",
      price: "58 200",
      description: "Изучение принципов эффективного управления производственным участком и рационального использования ресурсов предприятия, определение дополнительных возможностей и резервов повышения производительности, знакомство с практикой внедрения эффективных технологий управления производственным участком",
      hours: 24,
      isNew: false,
      dates: [
        {
          date: "12–16 мая",
          code: "72701"
        },
        {
          date: "22–25 Сентября",
          code: "80471"
        },
      ]
    },
    {
      name: "Металлообработка — подготовка производства, возможности интенсификации, автоматизации",
      price: "58 200",
      description: "Как повысить эффективность металлообработки в условиях импортозамещения. В курсе — практические занятия, работа у станков, реальные примеры применения современных методик, пути интенсификации производства. Планирование и внедрение современных технологических процессов изготовления изделий. Как обеспечить качество, эффективность, точность изготовления деталей",
      hours: 40,
      isNew: true,
      dates: [
        {
          date: "12–16 мая",
          code: "72701"
        },
        {
          date: "22–25 Сентября",
          code: "80471"
        },
      ]
    },
    {
      name: "Новые материалы и технологии для лакокрасочных покрытий",
      price: "58 200",
      description: "Вы получите практическую информацию о состоянии современного рынка ЛКМ, применении современного оборудования для ЛКМ, подготовке поверхности, технологиях нанесения ЛКМ, а также по комплексному оснащению лаборатории для испытаний ЛКМ",
      hours: 40,
      isNew: false,
      dates: [
        {
          date: "12–16 мая",
          code: "72701"
        },
        {
          date: "22–25 Сентября",
          code: "80471"
        },
      ]
    },
    {
      name: "Производство упаковки — новые тренды и технологии",
      price: "58 200",
      description: "Современная упаковка — это не просто коробка или пакет, это совокупность требований рынка, предъявляемых к упаковке, психологии потребителя и бизнес-задач производителя. На семинаре: как не потеряться в огромном потоке производимой упаковки и оставаться заметными на полке, как соблюсти все тонкости технологии производства упаковки различных типов, как правильно подобрать материалы для изготовления и печати и избежать типичных ошибок при изготовлении разных видов упаковки",
      hours: 40,
      isNew: false,
      dates: [
        {
          date: "12–16 мая",
          code: "72701"
        },
        {
          date: "22–25 Сентября",
          code: "80471"
        },
      ]
    },
    {
      name: "Планирование и диспетчеризация производства",
      price: "58 200",
      description: "Практический курс нацелен на моделирование и разбор реальных ситуаций по организации производственного планирования, включает практические занятия с использованием примеров участников",
      hours: 40,
      isNew: false,
      dates: [
        {
          date: "12–16 мая",
          code: "72701"
        },
        {
          date: "22–25 Сентября",
          code: "80471"
        },
      ]
    }
  ];

section.courses.section
  .courses__container.container
    .courses__body.body
      .courses__links.b1
        a.courses__link._active(href="#") ОЧНые
          svg.courses__link-svg
            use(xlink:href='img/sprite/symbols.svg#attention')
        a.courses__link(href="#") онлайн
          svg.courses__link-svg
            use(xlink:href='img/sprite/symbols.svg#attention')
      .courses__main.main
        each course in courses
          .courses__course.course
            .course__squares.t1
              .course__square !{course.hours}
              if course.isNew 
                .course__square.course__square--new NEW
            .course__main
              p.p2 Курс повышения квалификации
              h2.course__name.t2 !{course.name}
              .course__info-row.p1
                p.course__info-item
                  svg.course__info-svg
                    use(xlink:href='img/sprite/symbols.svg#location')
                  | Санкт-Петербург
                p.course__info-item
                  svg.course__info-svg
                    use(xlink:href='img/sprite/symbols.svg#attention')
                  | !{course.price} ₽
                p.course__info-item.course__info-item--online
                  svg.course__info-svg.course__info-svg--online
                    use(xlink:href='img/sprite/symbols.svg#wifi')
                  | Доступна онлайн-трансляция
              .course__description
                p.p2 !{course.description}
            .course__dates
              .course__dates-headers.t2
                h3.course__header Дата
                h3.course__header Код
                  svg.course__code-svg
                    use(xlink:href='img/sprite/symbols.svg#attention')
              each date in course.dates
                .course__dates-row
                  p.p1 !{date.date}
                  p.p1 !{date.code}
              a.course__link(href="#") 
                span.course__link-span.b1 узнать всё о курсе
                .course__arrow.arrow
                  .course__arrow-line.arrow__line
                  svg.course__arrowhead.arrow__head
                    use(xlink:href='img/sprite/symbols.svg#arrowhead')
    include ../pagination/_pagination_coursesA