include ../../data/coursesArchive

section.courses.section#courses
  .container
    .n3o1
      h2.t1d !{courses.title}
  .m4
    each course in coursesArchive
      article.courses__item
        .container
          .courses__item-body.n3o1
            .courses__course.course
              p.p2 Курс повышения квалификации
              h3.m7
                a.course__name(href="#")  !{course.name}
              .course__info-row
                p.course__info-item
                  svg.course__info-svg
                    use(xlink:href='img/sprite/symbols.svg#attention')
                  | !{course.price} ₽
                p.course__info-item
                  svg.course__info-svg
                    use(xlink:href='img/sprite/symbols.svg#clock')
                  | !{course.hours} часа
              p.p2.m4 !{course.description}
            footer.courses__dates-wrapper
              .courses__column-table.course-dates
                .course-dates__headers
                  p.course-dates__header Код
                    svg.course-dates__code-svg
                      use(xlink:href='img/sprite/symbols.svg#attention')
                //- each date in course.dates
                .course-dates__row
                  span !{course.dates[0].code}
              a.courses__arrow-link(href="#") 
                span.courses__arrow-span узнать всё о курсе
                .arr
                  .arr__line
                  svg.arr__head
                    use(xlink:href='img/sprite/symbols.svg#arrowhead')
  if courses.pagination
    .container
      include ../pagination/_pagination_$common

//- http://localhost:1709/page-distance.html#courses