mixin courseInfo(course, options = {})
  - 
    const config = {
      type: options.type || 'default', // 'default', 'distance', 'search'
      tag: options.tag || 'div', // div, section, etc.
      titleLevel: options.titleLevel || 'h2', // h2, h3
      showLocation: options.showLocation || false,
      showPrice: options.showPrice || false, 
      showHours: options.showHours || false,
      showOnlineLink: options.showOnlineLink || false,
      showOfflineLink: options.showOfflineLink || false,
      courseTypeText: options.courseTypeText || 'Курс повышения квалификации'
    }

  #{config.tag}.course-info&attributes(attributes)
    p.p2
      case config.type
        when 'distance'
          | Дистанционный курс
        when 'search'
          | #{options.isOnline ? 'Онлайн-курс' : 'Курс повышения квалификации'}
        default
          | #{config.courseTypeText}
    
    #{config.titleLevel}.m7
      a.t2.link(href=course.href || "#") !{course.name}
    
    .course-info__row
      //- Локация
      if config.showLocation && course.location !== false
        p.course-info__item
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#location')
          | #{course.location || 'Санкт-Петербург'}
      
      //- Цена
      if config.showPrice && course.price
        p.course-info__item
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#info')
          | !{course.price} ₽
      
      //- Часы
      if config.showHours && course.hours
        p.course-info__item
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#clock')
          | !{course.hours} #{course.hours === 1 ? 'час' : 'часа'}
      
      //- Ссылка на онлайн-трансляцию
      if config.showOnlineLink
        a.course-info__item--link(href="#") 
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#wifi')
          | Доступна онлайн-трансляция
      
      //- Ссылка на очный формат
      if config.showOfflineLink
        a.course-info__item--link(href="#") 
          svg.i20
            use(xlink:href='img/sprite/symbols.svg#building')
          | Доступно очно
    
    if course.description
      p.p2.m4 !{course.description}