include ../../../data/rubricsArchive

-
  const rubricsTabs = [
    {
      type: 'offline',
      title: 'Очно',
      icon: 'building',
      active: true,
      modifier: (rubrics) => rubrics
    },
    {
      type: 'online', 
      title: 'Онлайн',
      icon: 'wifi',
      modifier: (rubrics) => rubrics
        .map(rubric => ({
          ...rubric,
          courses: Math.max(0, rubric.courses - 2)
        }))
        .filter(rubric => rubric.courses > 0) // убираем рубрики с 0 курсов
    }
  ]

section.rubrics.section#rubrics
  .container
    h1.title Семинары и курсы по направлениям
    .m2._tabs
      .rubrics__tab-titles.por.r.x4jcb
        .rubrics__indicator.dur.bgs._tabs-indicator
        each tab in rubricsTabs
          button.rubrics__tab-title.dur.b1.r10.aic.x4jcc.x4w2(
            class=tab.active ? '_active' : '',
            class='_tabs-title'
          ) 
            svg.i24.x2i20
              use(xlink:href=`img/sprite/symbols.svg#${tab.icon}`)
            | #{tab.title}
      ._tabs-blocks.m2
        each tab in rubricsTabs
          .rubrics__tab-block._tabs-block(class=tab.active ? '_active' : '')
            each group in rubricsArchive
              +branch({
                title: group.title,
                color: group.color,
                tag: 'h2',
                rubrics: tab.modifier(group.rubrics),
                link: 'archive-courses.html'
              })

//- http://localhost:1709/page-main.html#rubrics
//- http://localhost:1709/page-rubrics.html#rubrics