include item-course-parts/course-dates/_course-dates_
include item-course-parts/course-info/_course-info_

//- Конфигурация
-
  const configs = {
    regular: {
      wrapperClass: '',
      header: true,
      format: false,
      info: {
        isOnline: false,
        class: 'n2w8 n3w11 w4',
        type: '',
        titleLevel: 'h2',
        showLocation: true,
        showPrice: true,
        showHours: false,
        showLink: true,
      },
      date: 'n2w2 n3w3 w1 x4w2',
      code: 'n2w1 n3w3 w1',
      price: false,
      dateClass: 'ais wrap g3 n2w3 n3w10 w4 n2ol0 n3ol1',
      moreLink: {
        class: 'n2w3 n3w4 w2 x4w3',
        link: '#',
      },
    },
    distance: {
      wrapperClass: 'n3o1', 
      header: false,
      format: false,
      info: {
        isOnline: false,
        class: 'n2w7 n3w10 w4',
        titleLevel: 'h3',
        type: 'Дистанционный курс',
        showLocation: false,
        showPrice: true,
        showHours: true,
        showLink: false,
      },
      //- date: 'n2w2 n3w3 w1 x4w2',
      code: 'n2w1 n3w2 w1',
      price: false,
      dateClass: 'ais wrap g3 n2w3 n3w10 w4',
      moreLink: {
        class: 'n2w3 n3w4 w2 x4w3',
        link: '#',
      },
    },
    search: {
      wrapperClass: '',
      header: false,
      format: true,
      info: {
        isOnline: false,
        class: 'n2w7 n3w11 w4',
        type: '',
        titleLevel: 'h3',
        showLocation: true,
        showPrice: false,
        showHours: false,
        showLink: true,
      },
      dateClass: 'ais wrap g3 n2w3 n3w10 w4 n2ol0 n3ol1',
      date: 'n2w2 n3w3 w1 x4w2',
      code: 'n2w1 n3w2 w1',
      price: 'n2w1 n3w2 w1',
      moreLink: false,
    },
    relating: {
      wrapperClass: '',
      header: false,
      format: false,
      info: {
        isOnline: false,
        class: 'n2w6 n3w9 w4',
        type: '',
        titleLevel: 'h2',
        showLocation: true,
        showPrice: true,
        showHours: false,
        showLink: true,
      },
      date: 'w2',
      code: false,
      price: false,
      dateClass: 'ais wrap g3 n2w2 n3w3 x3w4',
      moreLink: {
        class: 'wrap g5 w x3w2',
        link: '#',
      },
    },
  }

mixin courseItemBase(course, config)

  article.course-item&attributes(attributes)
    .por.row.ais.wrap.g5(class=config.wrapperClass)
      if config.header
        header.r15.wrap.g5.jce.n3w1
          +infoSquare(course.hours)(class="bgg")
          if course.isNew 
            +infoSquare("NEW")(class="bgb")

      else if config.format
        header.r5.x1col.x3row.aic.g8.w1
          svg.sb.sw2.i20
            use(xlink:href=`img/sprite/symbols.svg#${config.info.isOnline ? 'wifi' : 'building'}`)
          p.tb #{config.info.isOnline ? 'Онлайн' : 'Очно'}

      +courseInfo(course, config.info)


      footer.row.wrap(class=config.dateClass)
        +courseDates(course, config)
        if config.moreLink
          a.acb-link.link-b.r15.aic(class=config.moreLink.class, href="#") 
            span.b1.wsn Узнать всё о курсе
            +arr()




  //- Очный курс
mixin courseItemRegular(course)
  +courseItemBase(course, configs.regular)&attributes(attributes)

//- Дистанционный курс  
mixin courseItemDistance(course)
  +courseItemBase(course, configs.distance)&attributes(attributes)

//- Курс в поиске
mixin courseItemSearch(course, isOnline)
  if isOnline === true
    - 
      const configSearchOnline = JSON.parse(JSON.stringify(configs.search));
      configSearchOnline.info.isOnline = true;
    +courseItemBase(course, configSearchOnline)&attributes(attributes)
  else
    +courseItemBase(course, configs.search)&attributes(attributes)

//- Курсы в карточке курса по той же теме
mixin courseItemRelating(course)
  +courseItemBase(course, configs.relating)(class="course-item--relating")&attributes(attributes)