-
  cases = [
    //- {
    //-   title: 'Экспертиза результатов инженерных изысканий для проектирования и строительства',
    //-   image: "img/corp/case1.png",
    //-   icons: [
    //-     'Курс для АО "Атомэнергопроект"',
    //-     'Очно в учебном центре ЦНТИ Прогресс',
    //-     'Декабрь 2024',
    //-   ],
    //-   blocks: [
    //-     {
    //-       title: 'Участники',
    //-       text: [
    //-         [
    //-           'мастера производственных участков',
    //-           'мастера производственных участков',
    //-         ],
    //-       ],
    //-     },
    //-     {
    //-       title: 'Особенности',
    //-       text: [
    //-         [
    //-           'программа из серии курсов для мастеров и начальников производства;',
    //-           'программа из серии курсов для мастеров и начальников производства;',
    //-         ],
    //-       ],
    //-     },
    //-     {
    //-       title: 'Преподаватели',
    //-       text: [
    //-         [
    //-           'бизнес-тренер, эксперт по технологиям развития персонала;',
    //-           'бизнес-тренер, эксперт по технологиям развития персонала;',
    //-         ],
    //-       ],
    //-     },
    //-   ],
    //-   reviews: [
    //-     {
    //-       main: 'Лектор, как профессионал своего дела, даст фору многим другим преподавателям, в т.ч. и специалистам по работе с персоналом. Отзывы о курсе, проводимом им, могут быть только крайне положительными. Бесподобная подача материала, большое умение заинтересовать аудиторию никого не может оставить равнодушным.',
    //-       who: '(Александр, специалист)',
    //-     },
    //-     {
    //-       main: 'Спасибо за максимально расширенную информацию и полезные знания. Приезжайте к нам с новыми курсами!',
    //-       who: '(Александр, производственный мастер участка)',
    //-     },
    //-     {
    //-       main: 'Обучение по программе очень понравилось. Курс очень насыщенный и интересный. Организация обучения на высшем уровне. Узнали новые подходы обучения. Огромное спасибо преподавательскому составу и вам, кто организовал данное обучение!',
    //-       who: '(Евгения, ведущий специалист)',
    //-     },
    //-     {
    //-       main: 'Спасибо за максимально расширенную информацию и полезные знания. Приезжайте к нам с новыми курсами!',
    //-       who: '(Александр, производственный мастер участка)',
    //-     },
    //-   ],
    //- },
    {
      title: 'Мастер — руководитель производственного коллектива. Развитие управленческих навыков линейного руководителя. Практикум',
      image: 'https://img.cntiprogress.ru/Image/cases/people.jpg',
      icons: [
        'Курс для АО "Смоленский авиационный завод"',
        'Очно в Смоленске на территории компании',
        'Март 2025'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['мастера производственных участков']
        },
        {
          title: 'Особенности',
          text: ['Программа из серии курсов для мастеров и начальников производства']
        },
        {
          title: 'Преподаватель',
          text: ['бизнес-тренер, эксперт по технологиям развития персонала']
        }
      ],
      reviews: [
        {
          main: 'Спасибо за максимально расширенную информацию и полезные знания. Приезжайте к нам с новыми курсами!',
          who: 'Александр, производственный мастер участка'
        },
        {
          main: 'Очень интересная и познавательная программа обучения. Узнал много нового, применимого и полезного в моей работе.',
          who: 'Владимир, производственный мастер участка'
        },
        {
          main: 'Огромная благодарность за курс, за все время курса не возникло ни малейшего сомнения в компетентности преподавателя, за содержательные полезные знания, живую дискуссию, обмен опытом.',
          who: 'Наталья, производственный мастер'
        }
      ]
    },
    {
      title: 'Договор: как правильно составить и проверить',
      image: 'https://img.cntiprogress.ru/Image/cases/hands-p.jpg',
      icons: [
        'Курс для ПАО «Магнитогорский металлургический комбинат»',
        'Очно в Магнитогорске на территории компании',
        'Март 2025'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Ведущие экономисты, экономисты первой категории']
        },
        {
          title: 'Преподаватель',
          text: ['Практикующий адвокат']
        }
      ],
      reviews: [
        {
          main: 'Курс очень понравился. Получила много полезной информации. Преподаватель - профессионал своего дела, практикующий адвокат. Много практических примеров, современных и актуальных. Получила ответы на вопросы, связанные с заключением договоров. Здорово! Благодарю!',
          who: 'Наталья, ведущий экономист'
        },
        {
          main: 'Четкость изложения материала. Применимость в работе. Применимость в жизни. Полнота информации.',
          who: 'Диана, экономист первой категории'
        },
        {
          main: 'Из всех обучающих курсов я впервые с интересом слушала курс по теме "Договор", потому что действительно интересно, с практическими примерами, которые реально помогают в нашей работе.',
          who: 'Вера, экономист второй категории'
        }
      ]
    },
    {
      title: 'Энергоменеджмент предприятия. Практика организации и внедрения. Внутренний аудит',
      image: 'https://img.cntiprogress.ru/Image/cases/energy-p.jpg',
      icons: [
        'Курс для АО «Апатит»',
        'Очно в Череповце на территории компании',
        'Март 2025'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Главные технологи, начальники отделения']
        },
        {
          title: 'Преподаватель',
          text: ['национальный эксперт ЮНИДО по внедрению систем энергоменеджмента']
        }
      ],
      reviews: [
        {
          main: 'Все понравилось. Спасибо!',
          who: 'Евгений, главный специалист'
        },
        {
          main: 'Познавательный курс, доступное доведение информации. Материала достаточно для базиса построения оценочной эффективности использования энергоресурсов, критериев энергоэффективности.',
          who: 'Андрей, начальник участка'
        }
      ]
    },
    {
      title: 'Школа мастеров. Эффективное управление производственным участком',
      image: 'https://img.cntiprogress.ru/file/bur.jpg',
      icons: [
        'Курс для Филиала ООО «Илим Тимбер» в г. Усть-Илимске',
        'Очно в Усть-Илимске на территории компании',
        'Март 2025'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Мастера, бригадиры участков, механики']
        },
        {
          title: 'Преподаватель',
          text: ['эксперт по бережливому производству с многолетним практическим опытом, разработчик обучающих программ и курсов']
        }
      ],
      reviews: [
        {
          main: 'Программа обучения прошла насыщенно. Появились ответы на многие вопросы. Многое из пройденного материала возможно применить на нашем производстве.',
          who: 'Евгений, мастер'
        },
        {
          main: 'Познавательный курс лекций и закрепление практики в игровой форме. Лучше воспринимается информация.',
          who: 'Анатолий, бригадир по ремонту'
        },
        {
          main: 'Очень интересно доносит информацию до человека, актуальные способы заинтересовать человека в получении информации.',
          who: 'Алина, бригадир участка'
        }
      ]
    },
    {
      title: 'Нормоконтроль конструкторской документации',
      image: 'https://img.cntiprogress.ru/Image/cases/plan.jpg',
      icons: [
        'Курс для АО «НИКИЭТ»',
        'Очно в Москве на территории компании',
        'Февраль 2025'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Ведущие инженеры, инженеры конструкторы, инженеры 1 и 2 категории']
        },
        {
          title: 'Особенности',
          text: ['Курс для четвертой группы из цикла 5 программ по данной теме']
        },
        {
          title: 'Преподаватель',
          text: ['ведущий конструктор крупной производственно-сервисной компании, практический опыт работы на позициях главного инженера и главного конструктора более 20 лет']
        }
      ],
      reviews: [
        {
          main: 'Все отлично, информативно и главное - интересно!',
          who: 'Алексей, инженер 2 категории'
        },
        {
          main: 'Это был насыщенный ликбез, на котором я ознакомилась с ГОСТами ЕСКД и научилась в них ориентироваться.',
          who: 'Евгения, ведущий инженер'
        },
        {
          main: 'Хороший курс, отличный преподаватель, доведение информации выстроено лектором, легко, понятно и доступно. Все отлично. Всех благ!',
          who: 'Виталий, начальник лаборатории'
        }
      ]
    },
    //... предыдущие 5 элементов ...
    {
      title: 'Закупки по 223-ФЗ',
      image: 'https://img.cntiprogress.ru/Image/cases/calc-p.jpg',
      icons: [
        'Курс для ООО «ГЭХ Финанс»',
        'Очно в Санкт-Петербурге на территории компании',
        'Февраль 2025'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['главные эксперты отдела сопровождения и развития ИТ, начальники Управления осуществления платежей, главные эксперты отдела закупок и АХД']
        },
        {
          title: 'Преподаватель',
          text: ['эксперт в сфере закупок, кандидат педагогических наук, государственный советник Санкт-Петербурга 1 класса']
        }
      ],
      reviews: [
        {
          main: 'В целом положительное впечатление, очень полезно даже для сотрудников финансового блока',
          who: 'Ольга, начальник Управления осуществления платежей'
        },
        {
          main: 'Все хорошо, интересно, полезно.',
          who: 'Денис, заместитель начальника управления - начальник отдела осуществления платежей генерирующих и прочих дочерних компаний группы ГЭХ'
        },
        {
          main: 'Выражаю благодарность лектору за курс занятий, компетенции и профессионализм!',
          who: 'Александр, начальник отдела сопровождения и развития ИТ'
        }
      ]
    },
    {
      title: 'Проектирование, строительство, эксплуатация технологических трубопроводов',
      image: 'https://img.cntiprogress.ru/Image/cases/stroi-p.jpg',
      icons: [
        'Курс для ООО "Эр Ликид"',
        'Очно в учебном центре ЦНТИ Прогресс (Москва)',
        'Январь 2025'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Менеджеры по развитию бизнеса, инженеры по автоматизации и КИП']
        },
        {
          title: 'Преподаватель',
          text: ['главный инженер проектов компании, выпускающей некриогенное газоразделительное оборудование']
        }
      ],
      reviews: [
        {
          main: 'Спасибо за полученную информацию и доступность лектора для конкретных вопросов в дальнейшем.',
          who: 'Татьяна, менеджер по развитию бизнеса'
        },
        {
          main: 'Программа очень понравилась, думаю все темы и вопросы, с которыми я пришел, были озвучены и разобраны с подробными комментариями. Большой плюс, я считаю, был в том, что приводились и разбирались живые примеры и проблемы, как они решались или могут решаться. Ну и в целом как-то сразу была позитивная атмосфера, интерес как слушателей к материалу, так и интерес спикера к вопросам слушателей.',
          who: 'Максим, менеджер по развитию бизнеса'
        },
        {
          main: 'Программа отлично вписывается в то, что делает наша компания. Польза несомненна. Особенно хочу отметить профессионализм преподавателя, глубокие знания теории и, что особенно важно, практических аспектов, живость его исполнения, вовлеченность в процесс, наряду с информацией, сделало тренинг очень увлекательным и легко усваиваемым.',
          who: 'Мария, эксперт по применению технических газов'
        }
      ]
    },
    {
      title: 'Эффективный руководитель и командная работа',
      image: 'https://img.cntiprogress.ru/Image/cases/people.jpg',
      icons: [
        'Курс для АО «СЛПК»',
        'Очно в Сыктывкаре на территории компании',
        'Декабрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Руководители проектов, начальники отделов и цехов']
        },
        {
          title: 'Преподаватель',
          text: ['эксперт ЦНТИ Прогресс, бизнес-тренер, специализация – подготовка управленческих кадров']
        }
      ],
      reviews: [
        {
          main: 'Очень интересный и эмоционально яркий тренинг. Много полезной и нужной информации. Однозначно буду использовать в работе.',
          who: 'Светлана, начальник цеха'
        },
        {
          main: 'Все поставленные задачи выполнены блестяще! Команда - в восторге! И я тоже! Спасибо большое.',
          who: 'Елена, начальник управления'
        },
        {
          main: 'Подача сложной информации простым и доступным языком. Очень полезные инструменты, которые можно и нужно применять в работе.',
          who: 'Людмила, начальник отдела'
        }
      ]
    },
    {
      title: 'Экспертиза результатов инженерных изысканий для проектирования и строительства',
      image: 'https://img.cntiprogress.ru/Image/cases/otk-p.jpg',
      icons: [
        'Курс для АО "Атомэнергопроект"',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Декабрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Эксперты, главные геологи, ведущие инженеры']
        },
        {
          title: 'Преподаватели',
          text: [
            [
              'к.г. -м.н., эксперт по инженерно-геологическим изысканиям, ст. преп. кафедры «Гидрогеологии и инженерной геологии»',
              'к.г. -м.н., доцент кафедры геофизики',
              'к.т.н., доцент',
              'адвокат АК «Пелевин и партнеры»',
              'к.г. -м.н., главный специалист, ст. преп. кафедры основания и фундаменты',
              'главный геолог',
              'заместитель начальника отдела инженерных изысканий'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Программа охватила широкий спектр тем. Материалы были всесторонними и хорошо организованными, что облегчило понимание сложных концепций. Преподаватели были высококвалифицированными, опытными, увлеченными своим предметом. Программы включали практические занятия, и они помогли закрепить знания и улучшить навыки.',
          who: 'Александр, начальник отдела'
        },
        {
          main: 'Спасибо за курс специфической тематики. Доходчиво, показательно, практично и интересно. Условия и обстановка приятные, комфортные и душевные.',
          who: 'Ольга, инженер 1 категории'
        },
        {
          main: 'Программа информативная. Адаптирована под современные требования и тенденции в сфере инженерных технологий. Атмосфера располагающая, была возможность обменяться опытом. Преподаватели высококвалифицированные специалисты. Курс буду рекомендовать в своей сфере коллегам.',
          who: 'Екатерина, главный геолог объекта'
        }
      ]
    },
    {
      title: 'Насосное оборудование',
      image: 'https://img.cntiprogress.ru/Image/cases/crpn-p.jpg',
      icons: [
        'Курс для ООО "НПП Рогнеда"',
        'Очно в Старой Купавне на территории компании',
        'Декабрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Слесари бригады планово-предупредительного ремонта, химики-технологи, аппаратчики']
        },
        {
          title: 'Преподаватель',
          text: ['инженер сервисной службы, эксперт с большим практическим опытом работы']
        }
      ],
      reviews: [
        {
          main: 'Узнал много нового. Спасибо.',
          who: 'Максим, аппаратчик 1 разряда'
        },
        {
          main: 'Очень полезная и информативная лекция.',
          who: 'Алексей, химик-технолог'
        },
        {
          main: 'Это было очень продуктивное обучение. Благодарю за знания!',
          who: 'Игорь, аппаратчик 6 разряда'
        }
      ]
    },
    // ... предыдущие 10 элементов ...
    {
      title: 'Внутренние коммуникации для профессионалов',
      image: 'https://img.cntiprogress.ru/Image/cases/pencil.jpg',
      icons: [
        'Курс для ООО «Ильич Групп»',
        'Очно в Санкт-Петербурге на территории компании',
        'Ноябрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Ведущие специалисты, руководители групп, начальники отделов']
        },
        {
          title: 'Преподаватель',
          text: ['к.п.н., доцент факультета психологии, организационный психолог-консультант']
        }
      ],
      reviews: [
        {
          main: 'Спасибо за проведенный тренинг. То что казалось невозможным, получило право на жизнь.',
          who: 'Светлана, руководитель группы'
        },
        {
          main: 'Очень легкое восприятие информации, с пояснениями и ответами на все вопросы от лектора. Благодарю!',
          who: 'Сабина, главный специалист'
        },
        {
          main: 'С помощью тренинга поняла себя, научилась как не вступать в конфликты, как реагировать на прессинг, коммуникации как внутри, так и с контрагентами.',
          who: 'Юлия, главный специалист'
        }
      ]
    },
    {
      title: 'Технологии приборостроения',
      image: 'https://img.cntiprogress.ru/Image/cases/bystrinskoe-p.jpg',
      icons: [
        'Курс для ООО "КВ Системы"',
        'Очно в Воронеже на территории компании',
        'Ноябрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Инженеры-технологи, техники-лаборанты, контролеры ОТК']
        },
        {
          title: 'Преподаватель',
          text: ['к.т.н., главный технолог, эксперт-практик']
        }
      ],
      reviews: [
        {
          main: 'Очень доходчивая информация! Порадовало, что на каждый пример был продемонстрирован образец. На все вопросы был дан четкий и понятный ответ. Спасибо!',
          who: 'Татьяна, инженер-технолог'
        },
        {
          main: 'Курс получился очень подробный, с примерами из реального производства. Особенно хочется отметить количество освященных лектором тем, проведение в виде общения с аудиторией и обилие материальной базы, предоставленной на ознакомление.',
          who: 'Алексей, инженер-технолог'
        }
      ]
    },
    {
      title: 'Современные образовательные технологии в системе профессионального образования',
      image: 'https://img.cntiprogress.ru/Image/cases/pen-p.jpg',
      icons: [
        'Курс для ООО "РН-Пурнефтегаз"',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Ноябрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальники цеха, главные и ведущие специалисты']
        },
        {
          title: 'Преподаватели',
          text: [
            [
              'к.п.н., доцент кафедры психологии и педагогики личностного и профессионального развития',
              'к.т.н., доцент кафедры управления, автоматизации и системного анализа',
              'к.п.н., организационный консультант, доцент кафедры социальной психологии, декан факультета психологии',
              'руководитель учебного центра предприятия, преподаватель, тренер по бережливому производству',
              'руководитель центра компетенций колледжа'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Обучение по программе очень понравилось. Курс очень насыщенный и интересный. Организация обучения на высшем уровне. Узнали новые подходы обучения. Огромное спасибо преподавательскому составу и вам, кто организовал данное обучение!',
          who: 'Евгения, ведущий специалист'
        },
        {
          main: 'Огромное спасибо организаторам. Актуальные темы, отличные специалисты. Хороший обмен опытом. Расширили свои границы взглянуть по новому на старые методы обучения. Нашли свои методы и современные пути решения.',
          who: 'Чулпан, начальник отдела'
        }
      ]
    },
    {
      title: 'Нормоконтроль конструкторской документации',
      image: 'https://img.cntiprogress.ru/Image/cases/plan.jpg',
      icons: [
        'Курс для АО «НИКИЭТ»',
        'Очно в Москве на территории компании',
        'Октябрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальники групп, инженеры, ведущие инструкторы']
        },
        {
          title: 'Особенности',
          text: ['Курс для второй группы из цикла 5 программ по данной теме']
        },
        {
          title: 'Преподаватель',
          text: ['ведущий конструктор крупной производственно-сервисной компании, практический опыт работы на позициях главного инженера и главного конструктора более 20 лет']
        }
      ],
      reviews: [
        {
          main: 'Материал подается профессионально, в большом объеме, живо, интересно, с большим количеством примеров из собственной практики. Курсом доволен.',
          who: 'Андрей, ведущий конструктор'
        },
        {
          main: 'Лектор, как профессионал своего дела, даст фору многим другим преподавателям, в т.ч. и специалистам по работе с персоналом. Отзывы о курсе, проводимом им, могут быть только крайне положительными. Бесподобная подача материала, большое умение заинтересовать аудиторию никого не может оставить равнодушным.',
          who: 'Александр, специалист'
        }
      ]
    },
    {
      title: 'Роботизация производственных процессов: внедрение роботов в производство и управление роботизированными системами',
      image: 'https://img.cntiprogress.ru/Image/cases/excell-p.jpg',
      icons: [
        'Курс для ООО «УК Коблик Групп»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Октябрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальники отделов, директора производственных департаментов']
        },
        {
          title: 'Особенности',
          text: ['В программе курса практический выезд на производство, где представлена роботизированная сварка на базе промышленных роботов']
        }
      ],
      reviews: [
        {
          main: 'Отличный преподавательский состав, полезность информации. Хорошая экскурсия по предприятию. Актуальность информации, которую можно применить в своей работе. Можно добавить чуть больше информации по устройству роботов. Основы проектирования роботов в производстве.',
          who: 'Роман, директор департамента'
        }
      ]
    },
    // ... предыдущие 15 элементов ...
    {
      title: 'Энергосбытовая деятельность на рынках электроэнергии',
      image: 'https://img.cntiprogress.ru/Image/cases/energy-p.jpg',
      icons: [
        'Курс для АО «Читаэнергосбыт»',
        'В формате интерактивной онлайн-трансляции',
        'Сентябрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальники участков и ведущие инженеры']
        },
        {
          title: 'Преподаватели',
          text: [
            [
              'Директор по правовым вопросам',
              'Первый заместитель Председателя Комитета по энергетике Научно-Экспертного Совета',
              'Главный инженер проекта',
              'Начальник общеправового отдела'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Было полезно узнать об изменениях в законодательстве, а так же интересно послушать примеры из практики специалистов. Очень удобно принимать информацию в слайдах презентации.',
          who: 'Татьяна, руководитель группы'
        },
        {
          main: 'Программа соответствует информации заявленной в программе, актуальна и имеет практическое применение. Развернуто раскрыты изменения в законодательстве.',
          who: 'Гюльнара, начальник участка'
        },
        {
          main: 'Благодарю за предоставленный материал. Полезно, доступно и познавательно. Удобное обучение на онлайн-платформе.',
          who: 'Татьяна, руководитель группы'
        }
      ]
    },
    {
      title: 'Управление бизнес-процессами в компании: описание, анализ и оптимизация',
      image: 'https://img.cntiprogress.ru/Image/cases/idea.jpg',
      icons: [
        'Курс для Филиала АО «Сетевая компания» - «Дирекция по обслуживанию потребителей»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Сентябрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Руководители, заместители начальников отделов, главные специалисты']
        },
        {
          title: 'Преподаватель',
          text: ['Эксперт по внедрению процессного управления, руководитель CGO Consulting Group']
        }
      ],
      reviews: [
        {
          main: 'Выражаю огромную благодарность за предоставление возможности данного обучения. Получил навыки моделирования процессов, ознакомился с принципами графического описания бизнес-процессов, основами разработки регламентов. Планирую получившие знания применять на практике по своему направлению деятельности. Спасибо вам большое!',
          who: 'Ренат, ведущий специалист Контакт-центра'
        },
        {
          main: 'Тема обучения актуальна, находит свое применение в разных направлениях деятельности Компании. Подача материала преподавателями проста и доступна. Интересен личный опыт преподавателя в направлении обучения.',
          who: 'Айрат, заместитель начальника отдела централизованного обслуживания'
        }
      ]
    },
    {
      title: 'Морские грузоперевозки: фрахтование морского транспорта',
      image: 'https://img.cntiprogress.ru/Image/cases/sea-p.jpg',
      icons: [
        'Курс для ООО «Татнефть-АЗС-Северо-Запад»',
        'Очно в Санкт-Петербурге на территории компании',
        'Сентябрь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Руководители, начальники отделов, менеджеры по работе с клиентами']
        },
        {
          title: 'Преподаватель',
          text: ['Специалист-практик, опыт в сфере логистики 15 лет в международных компаниях']
        }
      ],
      reviews: [
        {
          main: 'Теоретическая часть хорошо подкреплена различными примерами из практики лектора.',
          who: 'Антон, ведущий специалист по работе с клиентами'
        },
        {
          main: 'Понятный и практический материал. Большой практический опыт лектора. Требуется дополнительное и более глубокое изучение материала.',
          who: 'Сергей, начальник отдела оптовых и корпоративных продаж'
        },
        {
          main: 'Хорошо структурирована и изложена информация. Много практических примеров.',
          who: 'Юлия, начальник АНО'
        }
      ]
    },
    {
      title: 'Нормоконтроль конструкторской документации',
      image: 'https://img.cntiprogress.ru/Image/cases/plan.jpg',
      icons: [
        'Курс для АО «НИКИЭТ»',
        'Очно в Москве на территории компании',
        'Август 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальники групп, инженеры, инженеры-конструкторы']
        },
        {
          title: 'Преподаватель',
          text: ['Ведущий конструктор крупной производственно-сервисной компании. За плечами — более 20 лет работы на позициях главного инженера и главного конструктора']
        }
      ],
      reviews: [
        {
          main: 'Преподаватель был дружелюбно настроен по отношению к слушателям, прекрасно владел материалом лекций, отвечал на вопросы, был внимателен и терпелив. А его позитивный настрой передавался и нам! Программа курса ориентирована на слушателей, желающих обновить свои знания в соответствии с современными нормативными документами.',
          who: 'Олеся, главный специалист'
        },
        {
          main: 'Курс интересный, нужный, незанудный, разбавленный практическими примерами, что очень оживляет атмосферу. Курсом очень довольна: стало понятно, куда двигаться и на что обращать внимание в первую очередь.',
          who: 'Наталия, ведущий инженер'
        }
      ]
    },
    {
      title: 'Управление строительным проектом — планирование, мониторинг, контроль, анализ',
      image: 'https://img.cntiprogress.ru/Image/cases/metallCarcas.jpg',
      icons: [
        'Курс для ООО «СБД»',
        'В формате интерактивной онлайн-трансляции',
        'Май – август 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['137 слушателей, разделенных на шесть групп. Руководители проектов и направлений, заместители, сотрудники технического надзора, инженеры, архитекторы']
        },
        {
          title: 'Преподаватель',
          text: ['Эксперт по внедрению корпоративной системы управления проектами']
        }
      ],
      reviews: [
        {
          main: 'Исключительно важные знания для проведения аудитов. Понял много критериев для выявления недостатков на производственных площадках. Из европейских примеров стало ясно, насколько наше производство отстает по качеству и подходам. Спасибо за переданные знания!',
          who: 'Алексей, руководитель направления'
        }
      ]
    },
    //# ... предыдущие 20 элементов ...
    {
      title: 'Производство без потерь. Бережливое производство для мастеров участка',
      image: 'https://img.cntiprogress.ru/file/bur.jpg',
      icons: [
        'Курс для ООО «РН-Бурение»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Июнь – июль 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: [
            'Мастера буровой, помощники мастеров буровой, начальники и заместители цехов',
            'Обучение состоялось в два этапа — с интервалом в месяц для двух отдельных групп начальников и мастеров участков'
          ]
        },
        {
          title: 'Преподаватели',
          text: [
            [  
              'Бизнес-тренер, эксперт по технологиям развития персонала',
              'Директор по производству, специалист в сфере внедрения БП',
              'Консультант в области внедрения БП и повышения эффективности производства'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Программа охватила широкий спектр тем. Материалы были всесторонними и хорошо организованными, что облегчило понимание сложных концепций. Преподаватели были высококвалифицированными, опытными, увлеченными своим предметом. Программы включали практические занятия, и они помогли закрепить знания и улучшить навыки.',
          who: 'Андрей, мастер буровой'
        }
      ]
    },
    {
      title: 'Формирование культуры безопасного труда',
      image: 'https://img.cntiprogress.ru/Image/cases/shirt-p.jpg',
      icons: [
        'Курс для «Приволжского межрегионального управления охраны ПАО «Газпром»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Июнь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Заместитель директора, ведущие специалисты по охране труда']
        },
        {
          title: 'Преподаватель',
          text: ['Психолог, бизнес-тренер']
        }
      ],
      reviews: [
        {
          main: 'Стопроцентно актуальная программа, кроме того — великолепно реализованная и сногсшибательно преподанная.',
          who: 'Василий, ведущий специалист по охране труда ПМУО'
        },
        {
          main: 'Программа полезная, много нового и интересного узнал для себя, чем в дальнейшем буду пользоваться на практике. Преподаватель интересно и грамотно преподносит материал, вовлекает в процесс обучения.',
          who: 'Игорь, ведущий специалист по охране труда ПМУО'
        }
      ]
    },
    {
      title: 'Нормирование труда в машиностроении. Практикум',
      image: 'https://img.cntiprogress.ru/file/stroy.jpg',
      icons: [
        'Курс для ООО «Завод ЭЛЕКТРОСЕВКАВМОНТАЖИНДУСТРИЯ»',
        'Очно в Краснодаре на территории компании',
        'Июнь 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальник отдела оптимизации бизнес-процессов, сотрудники планово-экономического отдела, инженеры']
        },
        {
          title: 'Преподаватель',
          text: ['Руководитель проектов по нормированию труда']
        }
      ],
      reviews: [
        {
          main: 'Преподаватель обладает высоким профессионализмом и глубокими знаниями в области нормирования труда. Курс структурирован. Практические задания были полезными, они помогли лучше усвоить полученные знания. Отдельно хотелось бы отметить открытость преподавателя для вопросов и обсуждения.',
          who: 'Денис, начальник отдела оптимизации бизнес-процессов'
        },
        {
          main: 'Материал курса преподавался интересно и познавательно, в соответствии с программой. Понравилась система построения занятий: теория — и сразу же закрепление полученных знаний на практике. Много практических заданий и реальных примеров из жизни. Систематизировала свои знания и приобрела много лайфхаков для успешной работы.',
          who: 'Лилия, экономист ПЭО'
        }
      ]
    },
    {
      title: 'Юрист по сопровождению строительства',
      image: 'https://img.cntiprogress.ru/Image/cases/stavr-gras-p.jpg',
      icons: [
        'Курс для АО «Апатит»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Май 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальник управления, ведущие и главные специалисты']
        },
        {
          title: 'Преподаватели',
          text: [
            [
              'К.т.н., главный специалист научно-производственной фирмы, судебный эксперт',
              'Советник председателя Комитета по строительству'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Отличный обзор нормативной документации. Вся информация актуальная. Лекторы ответили на все интересующие вопросы.',
          who: 'Ольга, главный специалист'
        }
      ]
    },
    {
      title: 'Государственное и муниципальное управление: современные инструменты и технологии',
      image: 'https://img.cntiprogress.ru/Image/cases/people.jpg',
      icons: [
        'Курс для окружной администрация города Якутска',
        'Очно в Якутске на территории клиента',
        'Май 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Руководители групп, начальники отделов, заместители руководителей, помощники заместителей, главные бухгалтеры и экономисты']
        },
        {
          title: 'Преподаватель',
          text: ['К.ю.н., доцент, независимый эксперт, уполномоченный на проведение антикоррупционной экспертизы нормативных правовых актов и проектов нормативных правовых актов']
        }
      ],
      reviews: [
        {
          main: 'Много узнала нового, что считаю необходимым внедрять в работу. За юридико-лингвистический словарь отдельное спасибо. Буду дальше изучать вопросы антикоррупционной экспертизы, проверять соответствие нормам и актуальность административных регламентов по проектированию земельных участков.',
          who: 'Айталина, помощник первого заместителя главы'
        }
      ]
    },
    // ... предыдущие 25 элементов ...
    {
      title: 'Управленческий тренинг. Продвинутый уровень',
      image: 'https://img.cntiprogress.ru/Image/cases/pencil.jpg',
      icons: [
        'Курс для ООО «Сахалинские нефтегазовые технологии»',
        'Очно в Южно-Сахалинске на территории компании',
        'Май 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Руководители и начальники отделов']
        },
        {
          title: 'Преподаватель',
          text: ['Психолог, бизнес-тренер, бизнес-консультант, специализирующийся на управленческих программах, преподаватель программы MBA, эксперт в области психологии управления']
        }
      ],
      reviews: [
        {
          main: 'Интересный тренинг с активным вовлечением слушателей и прекрасный пример «очаровательного» погружения в мир управления сотрудниками, собой и массами. Хочу пожелать бесконечного заряда энергии для вдохновения руководителей и трудовых коллективов!',
          who: 'Артем, начальник отдела'
        }
      ]
    },
    {
      title: 'Обеспечение качества и безопасности молока и молочной продукции',
      image: 'https://img.cntiprogress.ru/file/milk.jpg',
      icons: [
        'Курс для УП «Медистра»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Май 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Инженеры и технологи молочных производств Республики Беларусь']
        },
        {
          title: 'Преподаватели',
          text: [
            [
              'Доцент, кандидат технических наук, ординарный доцент научно-образовательного центра химического инжиниринга и биотехнологий',
              'Ведущий аудитор современных систем менеджмента ISO 9001, ISO 22000, ХАССП',
              'Д.т.н., эксперт по стандартизации, эксперт судебно-нормативной экспертизы'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Программа курса соответствует информации, актуальной на сегодняшний день: удачный подбор тем, преподавательский состав, доступность материала для слушателя. Стоит отметить сам процесс обучения: просторные светлые аудитории, хорошо организованный сервис, приветливый и вежливый персонал.',
          who: 'Татьяна, ведущий инженер-химик'
        },
        {
          main: 'Очень понравился курс. Преподаватели грамотные, компетентные, доступно объясняют тему за короткий промежуток времени. Темы интересны, некоторые материалы слышала впервые. Применю в повседневной жизни. Успехов и процветания!',
          who: 'Марина, начальник производственной лаборатории'
        }
      ]
    },
    {
      title: 'Нормоконтроль конструкторской и технологической документации',
      image: 'https://img.cntiprogress.ru/Image/cases/buh-p.jpg',
      icons: [
        'Курс для АО «Институт новых углеродных материалов и технологий»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Апрель 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Ведущие инженеры-конструкторы, инженеры-технологи']
        },
        {
          title: 'Преподаватель',
          text: ['Ведущий конструктор крупной производственно-сервисной компании. Более 20 лет опыта работы на позициях главного инженера и главного конструктора']
        }
      ],
      reviews: [
        {
          main: 'Курс полноценный и самодостаточный. Отличный старт для дальнейшего совершенствования в направлении нормоконтроля.',
          who: 'Михаил, ведущий инженер-конструктор'
        },
        {
          main: 'Содержание курса соответствует заявленной программе. Преподаватель ответственно и добросовестно подходит к процессу обучения и емко отвечает на вопросы.',
          who: 'Андрей, инженер-технолог'
        }
      ]
    },
    {
      title: 'Увольнения без конфликтов. Правовое регулирование, документирование и судебная практика',
      image: 'https://img.cntiprogress.ru/Image/cases/mind-p.jpg',
      icons: [
        'Курс для ООО «Сибирская теплосбытовая компания»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Апрель 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Менеджеры и специалисты по кадрам и работе с персоналом, ведущие экономисты по труду']
        },
        {
          title: 'Преподаватель',
          text: ['Юрист, консультант по трудовому праву и законодательству в сфере образования']
        }
      ],
      reviews: [
        {
          main: 'Вопросы, включенные в программу, действительно являются неоднозначными, поэтому именно такой обзор (с учетом правоприменительной практики) оказывается наиболее ценным для специалистов сферы управления персоналом. Было очень интересно!',
          who: 'Ксения, менеджер по персоналу'
        },
        {
          main: 'Обучение прошло на одном дыхании, преподаватель изложил программу интересно, занимательно и грамотно. Все вопросы и нюансы разобрали до мелочей с обсуждением реальных жизненных ситуаций.',
          who: 'Ольга, специалист по кадрам'
        }
      ]
    },
    {
      title: 'Нормирование труда. Управление факторами, влияющими на производительность труда',
      image: 'https://img.cntiprogress.ru/Image/cases/glasses-p.jpg',
      icons: [
        'Курс для холдинга «Швабе»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Апрель 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Руководители секторов, руководители бюро, ведущие инженеры-плановики']
        },
        {
          title: 'Преподаватели',
          text: [
            [
              'Начальник отдела планирования производства и развития производственных систем',
              'Аккредитованный тренер ECDL, мастер Microsoft Office Specialist',
              'Начальник отдела технического нормирования',
              'К.т.н., доцент кафедры экономики и управления предприятиями и производственными комплексами СПбГЭУ с опытом работы на крупных промышленных предприятиях'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Очень полезный практический блок по Excel. Организация занятий на самом высоком уровне. Приятный профессиональный коллектив. Касаемо нормирования: для меня, как непрофессионала в этой области, но с потребностями использовать знания в работе, было доступно и применимо.',
          who: 'Алена, начальник лаборатории контроля качества'
        },
        {
          main: 'Программа обучения выстроена логично и последовательно. Учебные материалы в удобном формате и изложении. Преподаватели — отличные специалисты в своей области с большим теоретическим багажом и большой производственной практикой. Большое спасибо, ЦНТИ Прогресс!',
          who: 'Алексей, начальник технического бюро'
        }
      ]
    },
    // ... предыдущие 30 элементов ...
    {
      title: 'Современные методы планирования производства',
      image: 'https://img.cntiprogress.ru/Image/cases/pen-p.jpg',
      icons: [
        'Курс для АО «Диаконт»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Март 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Руководители секторов, руководители бюро, ведущие инженеры-плановики']
        },
        {
          title: 'Преподаватель',
          text: ['Специалист по автоматизации производственных процессов планирования производства, руководитель проектов по преобразованию и развитию производственных систем']
        }
      ],
      reviews: [
        {
          main: 'Обсудили с лектором все проблемные ситуации в нашей работе, получили советы с применением конкретно на нашем предприятии. Много полезной информации получено за курс, которую я непременно постараюсь применить в работе. Желаю успехов, побед и интересных сотрудничеств.',
          who: 'Екатерина, руководитель отдела планирования и управления производством'
        },
        {
          main: 'Выражаю благодарность за доступную, понятную информацию о современных подходах к планированию на производстве с учетом недостатков нашего производства. Очень познавательно, интересно. Материал воспринимается легко и подтверждается литературой.',
          who: 'Валентина, руководитель бюро оперативного планирования'
        }
      ]
    },
    {
      title: 'Электронный архив. Информационные архивные технологии',
      image: 'https://img.cntiprogress.ru/Image/cases/folders-p.jpg',
      icons: [
        'Курс для АО «АК БАРС» БАНК',
        'Очно в Казани на территории компании',
        'Март 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Главные специалисты, начальники отделов, руководители']
        },
        {
          title: 'Преподаватель',
          text: ['Консультант по внедрению систем электронного документооборота (СЭД), преподаватель и ведущая семинаров по документационному обеспечению управления. Практический опыт внедрения СЭД до 3000 пользователей (в том числе в территориально-распределенных структурах). Постановка задач по автоматизации документооборота, анализ (аудит) документооборота, разработка нормативно-методических документов по ДОУ.']
        }
      ],
      reviews: [
        {
          main: 'От всей души благодарю за содержательный курс и доходчивый подход к подаче знаний. Презентационный материал содержательный, полный и информативный. Лектор высокого уровня — и профессионального, и практического.',
          who: 'Рузалия, начальник АУ'
        },
        {
          main: 'Очень подробный разбор материала. Курс разбит на этапы для полного погружения в обсуждаемые вопросы и темы. Отмечу наличие полного списка информативных актов по выстраиванию электронного архива.',
          who: 'Наталия, начальник ОДО РС'
        }
      ]
    },
    {
      title: 'Новые стандарты в области производства асфальтобетонов и дорожного строительства. Контроль качества работ',
      image: 'https://img.cntiprogress.ru/Image/cases/geology-p.jpg',
      icons: [
        'Курс для ООО "ДК Карбонатные материалы"',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Март 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Менеджеры отдела продаж, специалисты тендерного отдела, руководители проектов']
        },
        {
          title: 'Преподаватели',
          text: ['5 профильных экспертов — руководители и специалисты асфальтобетонных заводов и дорожно-строительных испытательных лабораторий']
        }
      ],
      reviews: [
        {
          main: 'Спасибо за ваш труд. Очень интересно слушать людей, которые не просто этим занимаются, а занимаются на передовых с лучшими показателями!',
          who: 'Николай, менеджер отдела сбыта'
        },
        {
          main: 'Замечательная программа, все доходчиво рассказано. Достаточно сжатое время проведения курса, но с большим объемом информации. Все понравилось, большая благодарность.',
          who: 'Кирилл, менеджер отдела сбыта'
        }
      ]
    },
    {
      title: 'Экспертная оценка цифровой информационной модели объектов капитального строительства',
      image: 'https://img.cntiprogress.ru/Image/cases/otk-p.jpg',
      icons: [
        'Курс для ГАУ СО «Государственная экспертиза проектов в строительстве»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Март 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Ведущие эксперты, начальники отделов']
        },
        {
          title: 'Преподаватель',
          text: ['Технический директор компании по внедрению BIM-технологий; сертифицированный профессионал по Autodesk Revit; сертифицированный преподаватель по Renga, Autodesk Revit']
        }
      ],
      reviews: [
        {
          main: 'Очень доходчивое объяснение учебных материалов. Исключительно полезно для будущей работы.',
          who: 'Алексей, ведущий эксперт'
        },
        {
          main: 'Очень богатый информацией курс и очень доступное изложение материала.',
          who: 'Татьяна, начальник отдела'
        }
      ]
    },
    {
      title: 'Организация эффективного обучения производственного персонала на рабочем месте',
      image: 'https://img.cntiprogress.ru/Image/cases/flash-p.jpg',
      icons: [
        'Курс для ПАО «Транснефть»',
        'Очно в Москве на территории компании',
        'Февраль 2024'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Заместители директора, главные технологи отдела эксплуатации и ремонта энергетического оборудования, начальники отдела организации эксплуатации АСУТП, департамента АСУТП']
        },
        {
          title: 'Преподаватель',
          text: ['Эксперт с 20-летним опытом работы с производственными системами']
        }
      ],
      reviews: [
        {
          main: 'Нужный и своевременный курс, который особенно необходим для руководителей, непосредственно проводящих техническое обучение персонала на местах.',
          who: 'Петр, заместитель начальника отдела'
        }
      ]
    },
    //... предыдущие 35 элементов ...
    {
      title: 'Планирование и диспетчеризация производства',
      image: 'https://img.cntiprogress.ru/Image/cases/metal-p.jpg',
      icons: [
        'Курс для АО «Ижевский механический завод»',
        'Очно в Ижевске на территории компании',
        'Ноябрь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальники, руководители, специалисты по планированию']
        },
        {
          title: 'Преподаватели',
          text: [
            [  
              'Специалист по автоматизации процессов планирования производства',
              'Руководитель проектов по преобразованию и развитию производственных систем'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Было полезно освежить знания, которые давали прошлые курсы. Совместная работа с преподавателями поможет реализации проектов внедрения. Были предложены интересные решения для практических задач.',
          who: 'Кира, руководитель проекта'
        }
      ]
    },
    {
      title: 'Экспозиционно-выставочная деятельность музея',
      image: 'https://img.cntiprogress.ru/Image/cases/loupe-p.jpg',
      icons: [
        'Курс для Волго-Вятского главного управления ЦБ РФ',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Октябрь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Ведущие и главные экономисты, начальник отдела']
        },
        {
          title: 'Особенности',
          text: ['Курс включил три насыщенных выездных занятия в музеях Петербурга — Государственном музее политической истории России, Главном Штабе Государственного Эрмитажа и Музее истории денег']
        },
        {
          title: 'Преподаватели',
          text: [
            [  
              'Начальник Управления экспозиций и коллекций СПбГУ',
              'Руководитель направления музейно-проектной деятельности Ассоциации менеджеров культуры',
              'Исполнительный директор фестиваля «Детские дни в Петербурге»',
              'Заведующий сектором отдела обеспечения выставочной деятельности Государственного Эрмитажа',
              'Заместитель директора по науке Музейного агентства Ленинградской области',
              'Директор по развитию, куратор музейных проектов Бюро музейной сценографии «Метаформа»'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Благодарю за проактивный подход в составлении программы под наши нужды и за отличных спикеров. Было очень полезно и познавательно! Отдельное спасибо куратору курса за сопровождение и заботу.',
          who: 'Светлана, начальник отдела'
        },
        {
          main: 'Много полезной информации, структуризация музейного знания, актуальные концепции музейного пространства. Полезно, познавательно, интересно. А главное — мотивирует и подталкивает к новым идеям, которые можно встроить в уже существующие экспозиции.',
          who: 'Антон, главный экономист'
        }
      ]
    },
    {
      title: 'Литье пластмасс под давлением',
      image: 'https://img.cntiprogress.ru/Image/cases/waves-p.jpg',
      icons: [
        'Курс для ПАО «Автоэлектроарматура»',
        'Очно в Пскове на территории компании',
        'Октябрь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Наладчики машин, инженеры-технологи, мастера']
        },
        {
          title: 'Преподаватель',
          text: ['Генеральный директор ООО «МИК» — компании, занимающейся изготовлением пресс-форм, литьем пластмассовых изделий, металлообработкой']
        }
      ],
      reviews: [
        {
          main: 'Курс был очень познавательным. Лектор всесторонне рассматривал каждый аспект программы, отвечал на вопросы слушателей, приводил примеры из собственной практики.',
          who: 'Александр, инженер-технолог'
        },
        {
          main: 'Хочется выразить огромную благодарность лектору! Курс получился насыщенным, но материал легко усваивался. Колоссальный плюс, что не только проходили теорию, но были и практические занятия на производстве.',
          who: 'Елена, контрольный мастер'
        }
      ]
    },
    {
      title: 'Цифровые технологии в современном мире: трансформация производства, экономики, культуры, образования',
      image: 'https://img.cntiprogress.ru/Image/cases/mind-p.jpg',
      icons: [
        'Курс для Череповецкого государственного университета',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Октябрь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Группа студентов и доцент. Обучение по гранту от Академии Росмолодёжи']
        },
        {
          title: 'Преподаватель',
          text: ['Эксперт в сфере цифровой трансформации и управления бизнес-процессами']
        }
      ],
      reviews: [
        {
          main: 'Багаж знаний, нужных в современном мире, комфортная атмосфера, мудрый спикер, интересная беседа — вот, чем было наполнено это время. Спасибо организаторам за такое удовольствие!',
          who: 'Екатерина, студентка'
        },
        {
          main: 'Мы рассматривали вопросы цифровой трансформации и обсуждали тенденции ведущих компаний страны. Особенно интересным для нас был раздел, посвященный мотивации персонала.',
          who: 'Иван, студент'
        },
        {
          main: 'Я узнала много нового о процессах цифровой трансформации на предприятии и в обществе. После интереснейших дискуссий с преподавателем появилось желание освоить новые компетенции, связанные с цифровизацией, а в будущем пройти повышение квалификации в ЦНТИ Прогресс.',
          who: 'Анастасия, студентка'
        }
      ]
    },
    {
      title: 'Геоинформационное картографическое моделирование инженерно-геокриологических и инженерно-экологических условий с применением данных ДДЗ',
      image: 'https://img.cntiprogress.ru/Image/cases/mountain-p.jpg',
      icons: [
        'Курс для АО «ТомскНИПИнефть»',
        'Очно в Томске на территории компании',
        'Сентябрь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Ведущие инженеры, руководители групп, инженеры 1-й и 2-й категорий']
        },
        {
          title: 'Преподаватель',
          text: ['К.г.-м.н., заместитель генерального директора ООО «Северные изыскания»']
        }
      ],
      reviews: [
        {
          main: 'Обучение полностью соответствовало профессиональным потребностям. По итогу появилась возможность практически безошибочно определить ЭГП на необходимых территориях. Преподаватель — профессионал своего дела: она смогла выстроить обучение таким образом, чтобы удовлетворить интересы всех слушателей — экологов, геологов, топографов и других.',
          who: 'Светлана, инженер'
        },
        {
          main: 'Материал курса изложен очень доступно, с подробными разъяснениями от преподавателя. Практическая часть позволила получить навык дешифрирования АФС и освоить принцип построения легенд. В данный момент я уже применила метод дешифрирования при оконтуривании болот и ледогрунтов. Рекомендую специалистам в области инженерных изысканий и проектирования.',
          who: 'Наталья, инженер 1-й категории'
        },
        {
          main: 'Замечательный преподаватель с огромным опытом работы! Курс продуман и расширен большим количеством наглядного материала. Очень много практической работы.',
          who: 'Елена, руководитель группы'
        }
      ]
    },
    {
      title: 'Формирование и исполнение местного бюджета. Государственный финансовый контроль',
      image: 'https://img.cntiprogress.ru/Image/cases/calc-p.jpg',
      icons: [
        'Курс для МКУ «УМТО»',
        'Очно в Нижневартовске на территории компании',
        'Сентябрь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальники и специалисты-эксперты отделов, ведущие и главные специалисты']
        },
        {
          title: 'Преподаватель',
          text: ['К.э.н., доцент кафедры финансов Санкт-Петербургского государственного университета экономики и финансов']
        }
      ],
      reviews: [
        {
          main: 'Достаточно много интересного и доступного методического материала, который можно применять в работе в дальнейшем. Своевременная информация о предстоящих изменениях с января 2024 года. Полноценные ответы на возникающие в ходе лекции вопросы. Увлекательная подача материала.',
          who: 'Виктория, ведущий специалист отдела расходов бюджета'
        }
      ]
    },
    {
      title: 'Обучение персонала в соответствии с нормами ТК РФ и закона об образовании № 273-ФЗ: правовое регулирование, документирование, судебная практика',
      image: 'https://img.cntiprogress.ru/Image/cases/pen-p.jpg',
      icons: [
        'Курс для ООО «Ключевые Системы и Компоненты»',
        'Очно в Твери на территории компании',
        'Сентябрь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Главные и ведущие специалисты по обучению персонала, начальники отдела']
        },
        {
          title: 'Преподаватель',
          text: ['Практикующий юрист, консультант по трудовому праву, кадровой работе и делопроизводству на государственной и муниципальной службе']
        }
      ],
      reviews: [
        {
          main: 'Интересный и полезный курс с разъяснением спорных вопросов. Масса прикладной информации и хорошая подача материала. За два дня рассмотрено много практических ситуаций с максимальной адаптацией под наши запросы. И очень приятный преподаватель!',
          who: 'Сюзанна, главный специалист'
        }
      ]
    },
    {
      title: 'Гособоронзаказ — 275-ФЗ. Практические вопросы раздельного учета, нормирования затрат, ценообразования, казначейского и банковского сопровождения',
      image: 'https://img.cntiprogress.ru/Image/cases/roy-p.jpg',
      icons: [
        'Курс для АО «ГосНИИхиманалит»',
        'Очно в Санкт-Петербурге на территории компании',
        'Сентябрь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Бухгалтеры, главные бухгалтеры, начальники отделов, директора, заместители директоров']
        },
        {
          title: 'Преподаватели',
          text: [
            [  
              'Консультант по вопросам организации закупок для предприятий ВПК и Министерства обороны РФ',
              'Судебный бухгалтер, консультант ведомственных структур в области контроля исполнения ГОЗ'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Учебная программа составлена на высоком уровне, доступна для восприятия и адаптирована для критического мышления. Преподаватели проводили занятия интересно, в доброжелательной обстановке. Огромное спасибо экспертам за профессионализм, предоставленную информацию и теплое общение со слушателями.',
          who: 'Олег, заместитель генерального директора по безопасности'
        }
      ]
    },
    {
      title: 'Технологии эффективного подбора, найма и адаптации персонала',
      image: 'https://img.cntiprogress.ru/Image/cases/flash-p.jpg',
      icons: [
        'Курс для ООО «ТаграС-Бизнес Тревел»',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Сентябрь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальники отдела персонала, ведущие инженеры службы развития персонала, главные специалисты']
        },
        {
          title: 'Преподаватели',
          text: [
            [  
              'Эксперт по управлению персоналом и коммуникациями консалтинговой компании «А-Содружество»',
              'К.э.н., финансовый директор консалтинговой компании, бизнес-консультант',
              'К.п.н., организационный консультант, сертифицированный коуч',
              'Основатель и генеральный директор рекрутингового агентства HR PARTNER'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Спасибо за реализацию прикладного обучения всем, кто провел с нами эти дни! Информации много, сразу взяла на вооружение и буду применять в работе, тиражировать среди коллег. Радует, что преподаватели — не просто тренеры, а практикующие профессионалы в своем деле. Желаю процветания такому классному центру, идущему в ногу со временем. За организацию зоны кофе-брейков — отдельный лайк.',
          who: 'Алина, ведущий инженер службы развития персонала'
        }
      ]
    },
    {
      title: 'Комплексная диагностика предприятия. Повышение эффективности производства и надежности технологических процессов',
      image: 'https://img.cntiprogress.ru/Image/cases/constellation-p.jpg',
      icons: [
        'Курс для АНО «Инновационный инжиниринговый центр»',
        'Очно в Москве на территории компании',
        'Август 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Начальники отделов, главные специалисты, руководители']
        },
        {
          title: 'Преподаватель',
          text: ['Руководитель проектов по преобразованию и развитию производственных систем']
        }
      ],
      reviews: [
        {
          main: 'Исключительно важные знания для применения на практике и усиления производственных навыков. Некоторые предложенные методики являются новыми лично для меня, поэтому их применение потребует дополнительного факультативного изучения. Спасибо за переданные знания!',
          who: 'Алексей, руководитель направления'
        },
        {
          main: 'Понравилась коммуникация с преподавателем: помимо обсуждений по теме занятия, были даны ответы на дополнительные и смежные вопросы — не только по аудиту и диагностике, но и по цифровизации.',
          who: 'Роман, специалист отдела сопровождения строительно-монтажных работ'
        }
      ]
    },
    {
      title: 'Гособоронзаказ: все изменения 2022–2023 гг. Практические вопросы раздельного учета, нормирования затрат, ценообразования, казначейского и банковского сопровождения',
      image: 'https://img.cntiprogress.ru/Image/cases/tablet-p.jpg',
      icons: [
        'Курс для ООО «Альфа»',
        'В формате интерактивной онлайн-трансляции',
        'Июнь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Генеральные директора, директора, начальники отделов']
        },
        {
          title: 'Преподаватель',
          text: ['К.э.н., доцент кафедры экономики и менеджмента инфокоммуникаций СПбГУТ им. проф. М. А. Бонч-Бруевича']
        }
      ],
      reviews: [
        {
          main: 'Узнал много нового и полезного. Материал будем применять на практике. Курс объемный, информации очень много, преподаватель высочайшего класса.',
          who: 'Юрий, директор по развитию ассортимента'
        }
      ]
    },
    {
      title: 'Работа с персональными данными',
      image: 'https://img.cntiprogress.ru/Image/cases/lock-p.jpg',
      icons: [
        'Курс для АО «НИПИгазпереработка»',
        'В формате интерактивной онлайн-трансляции',
        'Июнь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Специалисты и ведущие специалисты, эксперты и главные эксперты, бизнес-партнеры, руководители, менеджеры']
        },
        {
          title: 'Преподаватель',
          text: ['Управляющий партнер UNICOMLEGAL Russia, судья Полномочного международного экономического суда при Ленинградской областной ТПП, судья Третейского суда при Санкт-Петербургской ТПП']
        }
      ],
      reviews: [
        {
          main: 'Очень интересно и грамотно подан материал, хорошие кейсы. Приводились реальные примеры. Большое спасибо организаторам!',
          who: 'Анастасия, ведущий специалист'
        }
      ]
    },
    {
      title: 'Организация проектных работ. Подготовка проектной документации',
      image: 'https://img.cntiprogress.ru/Image/cases/abs-gold-p.jpg',
      icons: [
        'Курс для ЧОУ ДПО «Корпоративный университет «Норильский никель»',
        'В формате интерактивной онлайн-трансляции',
        'Июнь 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Ведущие и главные специалисты, начальники отделения и службы, заместители начальников']
        },
        {
          title: 'Преподаватели',
          text: [
            [  
              'К.т.н., доцент, главный специалист научно-производственной фирмы, судебный эксперт',
              'К.т.н., специалист в области контроля, испытаний, экспертизы и обследований материалов и конструкций, эксперт НП «Союз производителей бетона»',
              'К.э.н., доцент, аудитор, налоговый консультант',
              'Советник председателя Комитета по строительству Санкт-Петербурга, преподаватель юридического факультета СПбГУ'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Курс насыщенный, содержательный, полный, без лишней воды. Освещены все вопросы по организации проектных работ. Озвучены проблемы и нюансы, которые могут возникнуть на начальной стадии проектирования и в процессе выполнения работ.',
          who: 'Екатерина, главный специалист'
        }
      ]
    },
    {
      title: 'Эффективная презентация',
      image: 'https://img.cntiprogress.ru/Image/cases/pencil.jpg',
      icons: [
        'Курс для ООО «Акзо Нобель Лакокраска»',
        'Очно в Орехово-Зуеве на территории компании',
        'Май 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Специалисты по исследованиям и разработкам, начальники смены и участка, менеджеры, главный механик, инженер по качеству']
        },
        {
          title: 'Преподаватель',
          text: ['Бизнес-тренер, специалист в области управления и публичных выступлений, ответственный секретарь Санкт-Петербургской региональной комиссии по организации и подготовке управленческих кадров']
        }
      ],
      reviews: [
        {
          main: 'Выражаю огромную благодарность за проведенный курс! Теоретический материал был подкреплен творческими практическими заданиями, что позволило легко и непринужденно усвоить материал. Ожидания оправданы на сто баллов.',
          who: 'Анна, офис-менеджер'
        },
        {
          main: 'Спасибо за ваш труд и ваш вклад в мое развитие! Я испытала массу положительных эмоций и приобрела много новых коммуникативных навыков во время курса.',
          who: 'Антонина, специалист по исследованиям и разработкам'
        }
      ]
    },
    {
      title: 'Техническое обследование конструкций зданий и сооружений',
      image: 'https://img.cntiprogress.ru/Image/cases/lep.jpg',
      icons: [
        'Курс для ООО «Сахалинская Энергия»',
        'Очно в Южно-Сахалинске на территории компании',
        'Май 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Инженеры 1-й категории, начальники']
        },
        {
          title: 'Преподаватель',
          text: ['К.т.н., генеральный директор ООО «ОЗИС-Венчур», президент «Ассоциации обследователей ЗиС» с многолетним опытом реальных проектов']
        }
      ],
      reviews: [
        {
          main: 'На курсе я почерпнула много нового и актуального для улучшения профессиональной деятельности. Преподаватель подготовил объем информации согласно требованиям аудиторий, что обеспечило повышенный КПД для узкопрофильной лекции. Отмечу также интерактив со студентами и множество практических примеров; лектор не уходил от вопросов.',
          who: 'Луиза, начальник отдела промышленных ЗиС'
        }
      ]
    },
    {
      title: 'Профессиональные союзы в системе социально-трудовых отношений',
      image: 'https://img.cntiprogress.ru/Image/cases/people.jpg',
      icons: [
        'Курс для МООП ПАО «ГМК «Норильский никель»',
        'Очно в Москве на территории компании',
        'Май 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Председатели первичных профсоюзных организаций, начальники отделов, руководители, главные и ведущие специалисты']
        },
        {
          title: 'Преподаватель',
          text: ['К.т.н., к.ю.н., доцент']
        }
      ],
      reviews: [
        {
          main: 'Отличная коммуникация преподавателя с аудиторией, доступность предоставленной прикладной информации. Профессиональная компетентность, выдержка и такт в обучении. Спасибо огромное, многое отложилось!',
          who: 'Юлия, председатель первичной профсоюзной организации, старший мастер'
        }
      ]
    },
    {
      title: 'TWI — обучение в промышленности. Эффективная система подготовки линейных руководителей для быстрого обучения и встраивания рабочих в производственный процесс',
      image: 'https://img.cntiprogress.ru/Image/cases/megafon.jpg',
      icons: [
        'Курс для ООО «Формация»',
        'Очно в Ленобласти на территории компании',
        'Апрель 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Бригадиры, операторы-наладчики, начальник участка, заместитель директора производства по оперативному контролю']
        },
        {
          title: 'Преподаватель',
          text: ['Бизнес-тренер, технический консультант, фасилитатор, эксперт по внедрению системы наставничества на производстве и системы бережливого производства']
        }
      ],
      reviews: [
        {
          main: 'Курс о наставничестве был интересным и насыщенным, узнал для себя много нового. В будущем надеюсь на продолжение обучения с таким же успехом!',
          who: 'Алексей, бригадир'
        }
      ]
    },
    {
      title: 'Промышленная безопасность опасных производственных объектов. Новые требования. Внутренний аудит. Обеспечение безопасной эксплуатации зданий и инфраструктуры',
      image: 'https://img.cntiprogress.ru/Image/cases/metallCarcas.jpg',
      icons: [
        'Курс для АО «Апатит»',
        'Очно в Череповце на территории компании',
        'Апрель 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Главные и ведущие специалисты, начальники отделов, ведущие инженеры']
        },
        {
          title: 'Преподаватель',
          text: ['К.т.н., доцент кафедры «Промышленная безопасность и охрана труда» ФГБОУ ВО «Уфимский государственный нефтяной технический университет»']
        }
      ],
      reviews: [
        {
          main: 'Сильные стороны курса — открытый подход, понимание специфики промышленной безопасности, доступность презентуемого материала, умение заинтересовать, компетентность лекторов и их личный интерес к своей деятельности.',
          who: 'Ирина, начальник сектора'
        },
        {
          main: 'Спасибо за умение увлечь аудиторию, за ясность и последовательность информации. Вы асы в своей работе!',
          who: 'Даниил, ревизор по безопасности движения'
        }
      ]
    },
    {
      title: 'Нормоконтроль проектной и рабочей документации для строительства',
      image: 'https://img.cntiprogress.ru/Image/cases/plan.jpg',
      icons: [
        'Курс для АО «Полиметалл Инжиниринг»',
        'Очно в Санкт-Петербурге на территории компании',
        'Апрель 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Инженеры, ведущие инженеры, специалисты, ведущие специалисты']
        },
        {
          title: 'Преподаватель',
          text: ['Разработчик нормативной документации СПДС']
        }
      ],
      reviews: [
        {
          main: 'Содержание курса соответствует заявленной программе. Изложение лектора было доступным и методичным, подкреплялось наглядными примерами, сравнениями и выборками, что позволяло всесторонне изучить материал и его особенности. Методическое пособие с рекомендациями преподавателя — простое и полезное дополнение курса.',
          who: 'Дарья, инженер'
        }
      ]
    },
    {
      title: 'Внутренний аудит системы менеджмента пищевой безопасности в соответствии с ISO 22000:2018, принципами ХАССП и риск-ориентированным подходом. Практикум',
      image: 'https://img.cntiprogress.ru/Image/cases/berries-p.jpg',
      icons: [
        'Курс для УП «Медистра», нескольких пищевых производств Беларуси',
        'Очно в учебном центре ЦНТИ Прогресс',
        'Март 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Инженеры, менеджеры, начальники пищевых предприятий']
        },
        {
          title: 'Преподаватели',
          text: [
            [
              'Ведущий аудитор Международного органа по сертификации GlobalGROUP Certification (Великобритания) и Органа по сертификации «Тест-С.-Петербург». Более 15 лет практики проведения аудитов на предприятиях, производящих пищевую продукцию. Эксперт в сфере внедрения систем менеджмента качества и пищевой безопасности, корпоративного обучения персонала на предприятиях пищевой отрасли (ISO 9001, ISO 22000, FSSC 22000, халяль)',
              'К.т.н., доцент СПбГТЭУ, ведущий эксперт по сертификации систем менеджмента безопасности пищевой продукции в соответствии с требованиями стандартов ГОСТ Р ИСО 22000-2018, ГОСТ Р ИСО 19011-2012, ГОСТ Р 51705.1-2001 (НАССР), ISO 22000:2018'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'Преподаватели грамотно и тактично донесли материал. Было много нового и познавательного, особенно при разборе тем на практике. Хорошие толковые презентации помогли вникнуть в суть вопросов. Благодарных вам слушателей и процветания! Приглашайте, приедем!',
          who: 'Лилия, начальник производственной лаборатории, «Ошмянский сыродельный завод»'
        },
        {
          main: 'Теплый прием, профессиональные преподаватели, продуманный курс. Четкая организация обучения как в прошлый раз, так и сейчас.',
          who: 'Светлана, ведущий инженер по качеству, ОАО «Лидский молочно-консервный комбинат»'
        }
      ]
    },
    {
      title: 'Ключевые управленческие навыки. Проектный подход к управлению',
      image: 'https://img.cntiprogress.ru/Image/cases/shirt-p.jpg',
      icons: [
        'Курс для ООО «Мировая Техника»',
        'Очно в Воронеже на территории компании',
        'Март 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Руководители и начальники отдела сервиса СХТ']
        },
        {
          title: 'Преподаватель',
          text: ['Консультант в сфере управления и работы с персоналом, бизнес-тренер, преподаватель программ MBA и Президентской программы подготовки управленческих кадров']
        }
      ],
      reviews: [
        {
          main: 'Скептически относился к данному виду курсов, но лектор изменил мой взгляд. Весомым аргументом для меня послужили сравнительные алгоритмы, привязка некоторых аспектов к детям, семье, природе и т.д. То есть материал стал доступен в сравнении. Плюс выполнение практических заданий в дружеском общении, без шаблонных фраз.',
          who: 'Алексей, руководитель сервиса СХТ'
        },
        {
          main: 'Очень понравилось содержание, метод и суть курса. Особенно хочется отметить профессионализм лектора, стиль подачи информации и вовлечение всех участников. Ощущалось полное погружение.',
          who: 'Максим, руководитель направления импорта техники'
        }
      ]
    },
    {
      title: 'Современное металловедение и металлография. Методы исследований и испытаний металлов',
      image: 'https://img.cntiprogress.ru/Image/cases/abs-mir-p.jpg',
      icons: [
        'Курс для ООО «Петербургский завод прецизионных сплавов»',
        'Очно в Санкт-Петербурге на территории компании',
        'Февраль 2023'
      ],
      blocks: [
        {
          title: 'Участники',
          text: ['Вальцовщики, мастера, начальник отдела ОТиТБ, сталевар, обработчик поверхностных пороков металла, лаборант ЛУИ, начальники ОТК']
        },
        {
          title: 'Преподаватели',
          text: [
            [  
              'К.т.н., доцент кафедры материаловедения СПбГУ, ведущий инженер испытательного центра',
              'Доценты кафедры материаловедения СПбГТИ (ТУ)'
            ],
          ],
        }
      ],
      reviews: [
        {
          main: 'На курсе я почерпнула много нового и актуального для улучшения профессиональной деятельности. Программа была очень интересной!',
          who: 'Татьяна, мастер ОТК'
        }
      ]
    }
  ];



section.cases.section#cases(data-items data-start-items=3 data-show-items=5 data-items-animate)
  .container
    h2.title ПРИМЕРЫ КУРСОВ
  .m3(data-spollers data-one-spoller data-items-container)
    each item, active in cases
      article.case-item(class= (active >= 0 && active <= 2) ? '_active' : '', data-item)
        .container
          .n1o1
            .case-item__top.row.ais(data-spoller)
              img.case-item__img.n3w1.x3hide(src=item.image alt="")
              .fg
                h3.case-item__title.t2.accent.row !{item.title}
                .row-wrap.g5.m4
                  each icon, i in item.icons
                    -
                      size = "n1w3 n3w4 x3w2 x4w4";
                    if i===0
                      -
                        icn = 'user-check';
                        size = "n3w3 x3w2 x4w4";
                    if i===1
                      -
                        icn = 'building';                        
                    if i===2
                      -
                        icn = 'calendar-check';
                    .case-item__icon-item(class=size)
                      svg.icn
                        use(xlink:href='img/sprite/symbols.svg#' + icn)
                      span.p2 !{icon}
            .m3
              .row-wrap.g3.n1ol1
                each block in item.blocks
                  section.case-item__block.n1w3.n3w4.x3w4
                    h4.t2.accent !{block.title}
                    .m5
                      each p in block.text
                        if Array.isArray(p)
                          ul.ul.col6
                            each li in p
                              li.ul__li !{li}
                        else 
                          p.p1 !{p}
                section.case-item__block
                  h4.t2.accent Отзывы
                  .row-wrap.g5.m5
                    each review in item.reviews
                      .col7.n1w3.n3w4.x3w4
                        p.p1 !{review.main}
                        p.case-item__span.p2 !{review.who}
  .container
    .row-wrap.jcc.g5.m3
      button.cases__hide-button.button-second.n1w2.n3w4.x3w2.x4w4(data-items-hide) Свернуть
      button.cases__show-button.button-primary.n1w2.n3w4.x3w2.x4w4(data-items-btn) Показать ещё

//- http://localhost:1709/page-corp.html#cases