section.route.section(id=route.id)
  .container
    .n1o1.col2
      .col5
        h2.t1d !{route.title}
        p.p1 !{route.intro}
      .row.x3col.g3
        picture
          source(media="(max-width: 539.95px)", srcset="img/contacts/x4" + route.img)
          source(media="(max-width: 767.95px)", srcset="img/contacts/x3" + route.img)
          img.img.n1w5.n3w6(src="img/contacts/" + route.img alt="")
        .col3.ais
          each block in route.blocks
            .col5
              h3.route__heading
                svg.icn
                  use(xlink:href='img/sprite/symbols.svg#' + block.icon)
                | !{block.title}
              div
                each p in block.text
                  p.p1 !{p}
          a.route__link.t2d.aic(href="#")  Скачать инструкцию
            .route__arrow.arr
              .arr__line
              svg.arr__head
                use(xlink:href='img/sprite/symbols.svg#arrowhead')