include ../../../data/rubricsArchive

section.mailing.section#mailing
  .container
    h1.title Простая рассылка #[br.n4hide]о серьёзном обучении
    form.col1
      section.mailing__top
        h2.mailing__top-title.t2d.x2c В рассылке: скидка 3% новым подписчикам, акции, премьеры курсов
        fieldset.mailing__top-main.n2w9
          legend.t2d Заполните данные о себе
          .row-wrap.g5.m5
            .wrapper-square--bright.col7.n2w3.n3w4.x3w2.x4w4
              input.input(type="text" placeholder="Фамилия")
            .col7.n2w3.n3w4.x3w2.x4w4
              input.input(type="text" placeholder="Имя")
            .col7.n2w3.n3w4.x3w2.x4w4
              input.input(type="text" placeholder="Отчество")
            .wrapper-square--accent.col7.n2w3.n3w4.x3w2.x4w4
              input.input(type="email" placeholder="Электронная почта")
            .col7.n2w3.n3w4.x3w2.x4w4
              input.input(type="text" placeholder="Должность")
            .n2w3.n3w4.x3w2.x4w4
              p.p2 Я отвечаю за обучение сотрудников
              .mailing__top-checkboxes
                label.checkbox
                  input.checkbox__input(type="radio" name="employee_training_responsible" checked)
                  .checkbox__span-wrapper
                    span.checkbox__span Да
                label.checkbox
                  input.checkbox__input(type="radio" name="employee_training_responsible")
                  .checkbox__span-wrapper
                    span.checkbox__span Нет
      section.col2
        h2.t1d Выберите рубрики — это займёт полминуты
        .mailing__choose
          each group in rubricsArchive
            fieldset.mailing__group(style="--group-color:var(--" + group.color + ")")
              legend.branch-title
                span.branch-title__main
                  span.branch-title__title !{group.title}
              .mailing__checkboxes
                each rubric in group.rubrics
                  .col7(data-checkbox-group=rubric.subrubrics ? true : false)
                    label.checkbox
                      input.checkbox__input(type="checkbox" data-checkbox-all=rubric.subrubrics ? true : false)
                      .checkbox__span-wrapper
                        span.checkbox__span !{rubric.name}
                    if rubric.subrubrics
                      .mailing__subrubrics
                        each subrubric in rubric.subrubrics
                          label.checkbox
                            input.checkbox__input(type="checkbox" data-checkbox-item)
                            .checkbox__span-wrapper
                              span.checkbox__span !{subrubric}
      section.col3.aic
        h2.t1d.x4c Вы у цели! Осталось нажать #[br.n4hide]главную кнопку...
        .col5.aic
          button.button-primary.n3w4.x3w2.x4w4(type="submit") Подписаться на рассылку
          label.checkbox
            input.checkbox__input(type="checkbox" checked)
            .checkbox__span-wrapper-blue
              span.checkbox__span Отправляя форму, я принимаю #[a.link(href="#") пользовательское соглашение]
    .row.x4col.g3.m1.n1o1
      section.col5.n1w5.n3w6.x3w2.x4w4
        h2.t2d Как получить скидку 3%
        ol.ol
          li.ol__li Заполните форму на этой странице и подпишитесь на рассылку.
          li.ol__li Вы получите письмо для потверждения подписки — так мы проверяем, что адрес действующий.
          li.ol__li Сразу после этого вы получите письмо с промокодом.
          li.ol__li Используйте промокод при записи на курс.
      section.col5.n1w5.n3w6.x3w2.x4w4
        h2.t2d Как сменить адрес почты
        ol.ol
          li.ol__li Сначала отпишите старый адрес. Для этого найдите в конце любого письма от ЦНТИ Прогресс ссылку «Отменить подписку» и нажмите на нее. Если старый email адрес по-прежнему актуален, пропустите этот пункт.
          li.ol__li Подпишите новый email-адрес — заполните форму на этой странице и выберите рубрики.

//- http://localhost:1709/page-mailing.html#mailing