include ../_mixins

block settings
  +pageConfig()

doctype html
html(lang="ru")
  head    
    meta(charset="utf-8")
    meta(name="robots" content="noindex")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="color-scheme" content="only light")
    //- meta(name="theme-color" content="#ed6824" media="(prefers-color-scheme: light)")
    meta(name="theme-color" content="#ed6824")
    if page.description
      meta(name="description", content=page.description)
    if page.title
      title= page.title
    //- link(rel="canonical" href="")
    if page.styles && page.styles.external
      each link in page.styles.external
        link(rel="stylesheet", href=link)
    link(rel="stylesheet", href=`css/style.min.css?_v=${version}`)
    if page.styles && page.styles.internal
      each link in page.styles.internal
        link(rel="stylesheet", href=`css/${link}.min.css?_v=${version}`)
    if page.scripts && page.scripts.head
      each link in page.scripts.head
        script(src=link)
  body
    include widget-plan/_widget-plan
    .wrapper
      include header/_header
      main.page#page
        if page.breadcrumbs
          +breadcrumbs(page.breadcrumbs)
        block content
      include footer/_footer
    #measure
    if page.scripts && page.scripts.external
      each link in page.scripts.external
        script(src=link)
    script(src=`js/script.min.js?_v=${version}`)
    if page.scripts && page.scripts.internal
      each value in page.scripts.internal
        script(src=`js/${value}.min.js?_v=${version}`)


