include ../../../data/hotelsArchive

section.hotels.section#hotels
  .container
    #toc.n1o1
      h2.t1d !{hotelsArchive.length} отелей-партнеров в Санкт-Петербурге
      p.p1.m7 Выберите отель на карте или из списка.
      ol.hotels__toc-main.ol.m2        
        each hotel, index in hotelsArchive
          li.ol__li
            a.hover(href="#" + hotel.slug) !{hotel.name}, !{hotel.address}
    #ymaps.ymaps.m2
    div
      each hotel in hotelsArchive
        if hotel.price
          article.hotel.section(id=hotel.slug)
            h2.subtitle !{hotel.name}
            header.row.x4col.aic.jcc.g7.m5
              p.p1 Санкт-Петербург, !{hotel.address}
              a.p1.tb.hover-accent(href="#toc") Вернуться к карте
            .hotel__icons.m4.g7
              .hotel__icon
                svg.i24
                  use(xlink:href='img/sprite/symbols.svg#pin')
                p.p1.ta !{hotel.distance} #[br.x3hide]до #[br.n3hide]ЦНТИ&nbsp;Прогресс
              each icon in hotel.features
                .hotel__icon
                  svg.i24
                    use(xlink:href='img/sprite/symbols.svg#' + icon.icon)
                  p.p1.ta !{icon.name}            
            .hotel__gallery.row.x4wrap.m3._gallery
              a.n3w3.w1.x4w2(href="http://img.cntiprogress.ru/file/ivksenia/dinastia_1.jpg") 
                img.hotel__gallery-img(src="http://img.cntiprogress.ru/file/ivksenia/dinastia_1_min.jpg" alt="")
              a.n3w3.w1.x4w2(href="http://img.cntiprogress.ru/file/ivksenia/comf-dyn-1.jpg") 
                img.hotel__gallery-img(src="http://img.cntiprogress.ru/file/ivksenia/comf-dyn-1_s.jpg" alt="")
              a.n3w3.w1.x4w2(href="http://img.cntiprogress.ru/file/ivksenia/dinastia-3.jpg") 
                img.hotel__gallery-img(src="http://img.cntiprogress.ru/file/ivksenia/dinastia-3_min.jpg" alt="")
              a.n3w3.w1.x4w2(href="http://img.cntiprogress.ru/file/ivksenia/dinastia_4.jpg")
                img.hotel__gallery-img(src="http://img.cntiprogress.ru/file/ivksenia/dinastia_4_min.jpg" alt="")
            .hotel__main.m3
              .col5.n1w6.n2w4.n3w12.x4w4
                each p in hotel.description
                  p.p1 !{p}
                p.p1 Регистрационный номер в Федеральном перечне туристских объектов #[a.link(href="#") !{hotel.registrationNumber}]
                if hotel.info
                  each p in hotel.info
                    p.p1 !{p}
                .hotel__attention
                  svg.i24
                    use(xlink:href='img/sprite/symbols.svg#info')
                  p.p1 Бронируйте онлайн, по почте или по тел. #[a(href="tel:89216503779") 8 (921) 650-37-79].
                if hotel.legalInfo
                  p.p1 !{hotel.legalInfo}
                a.button-primary.n3w3.w2.x4w4(href="#") Забронировать отель
              table(class="hotel__table" + ((hotel.price.head.length) ? "-" + hotel.price.head.length : ''))
                thead
                  tr
                    each th in hotel.price.head
                      th
                        if th.title
                          span.hotel__th-title !{th.title}
                        if th.subtitle
                          span.hotel__th-subtitle !{th.subtitle}
                tbody 
                  each tr in hotel.price.rows
                    tr
                      each td, index in tr
                        td !{td}

//- http://localhost:1709/page-hotels.html#hotels

include _map_script_hotels