mixin promoItem(card, options = {})
  - 
    const {
      imgSrc = "img/promo/card.png",
      imgAlt = ""
    } = options

  article.-promo-item&attributes(attributes)
    img.-promo-item__img(src=imgSrc, alt=imgAlt)
    .-promo-item__main
      h1.t1d !{card.title}
      .r5.aic.m7
        svg.sb.sw2.i24.x2i16
          use(xlink:href='img/sprite/symbols.svg#attention')
        p.p2.tb !{card.attention}
      .row.aic.fg
        p.p1.m5 !{card.text}
      a.aca-link.link.ttu.r15.aic.m3(href=card.href || "#")
        p !{card.link}
        .fg
          +arr